[2020-07-21 10:59] callmekatootie commented on #524
Expected:

- When adding a filter section, we should not perform the search again
- When removing a filter section, ONLY IF that filter section had active filters, we will perform the search again - with the active filters removed. Else, we don't need to search again

[2020-07-21 15:59] callmekatootie commented on #403
@wdprice When the user starts typing and immediately after typing, we are currently sending the typed text to our api to fetch the suggestions - Debouce would require us to wait a few milliseconds, to wait for the user to finish typing, after which we send the text to the api to fetch the suggestions - thereby reducing the load (since it results in fewer api calls).

I estimate the effort to be ar

[2020-07-21 16:18] wdprice commented on #403
Understood. Proceed w/ fix.

[2020-07-21 16:19] wdprice commented on #15
@callmekatootie Yes

[2020-07-21 16:21] wdprice commented on #155
@callmekatootie trying to better understand - this issue only takes place when we do a search, correct?

[2020-07-21 16:22] wdprice commented on #327
I like the idea of an overlay showing a deactivated user. Only show the deactivated user + overlay when looking at group members though. Do not return them in search results.

[2020-07-21 16:26] callmekatootie commented on #430
And if Topcoder already has a favicon that I can use, let me know too

[2020-07-21 16:31] callmekatootie commented on #155
Yes and No.

So right now, when we display the groups (both in the modal as well as in the Groups Tab page), we are displaying only the first n groups. There's more groups to be displayed but we don't do that right now - the results are paginated.

So, at the time of search as well as at the time of displaying all the groups, we need to determine how do we show them. Right now, iirc, the number of

[2020-07-21 16:33] callmekatootie commented on #327
Gotcha.

Currently they are not returned in the search results - in the scenario of this ticket, we first fetch the users from the group - and for deactivated users, the groups does not know that the user was deactivated... so it returns that user - and the UI proceeds to fetch the details of the user to show

[2020-07-21 17:09] wdprice commented on #338
@callmekatootie
https://zeroheight.com/1g0pfacwv/p/56600f-logos--icons/b/68b761/i/686483

[2020-07-22 05:48] callmekatootie commented on #72
Resolved

[2020-07-22 05:48] #72 closed

[2020-07-22 06:17] callmekatootie commented on #111
Resolved

[2020-07-22 06:17] #111 closed

[2020-07-22 06:20] callmekatootie commented on #178
Resolved

[2020-07-22 06:20] #178 closed

[2020-07-22 06:21] callmekatootie commented on #184
Resolved

[2020-07-22 06:21] #184 closed

[2020-07-22 06:27] callmekatootie commented on #211
Resolved

[2020-07-22 06:27] #211 closed

[2020-07-22 06:33] callmekatootie commented on #243
Resolved

[2020-07-22 06:33] #243 closed

[2020-07-22 07:07] callmekatootie commented on #470
Resolved

[2020-07-22 07:07] #470 closed

[2020-07-22 08:48] callmekatootie commented on #21
Resolved

[2020-07-22 08:48] #21 closed

[2020-07-22 08:56] callmekatootie commented on #60
Resolved

[2020-07-22 08:56] #60 closed

[2020-07-22 08:56] callmekatootie commented on #34
Resolved

[2020-07-22 08:56] #34 closed

[2020-07-22 09:06] callmekatootie commented on #39
Resolved

[2020-07-22 09:06] #39 closed

[2020-07-22 09:47] callmekatootie commented on #110
Resolved

[2020-07-22 09:47] #110 closed

[2020-07-22 09:53] callmekatootie commented on #138
Resolved

[2020-07-22 09:53] #138 closed

[2020-07-22 10:01] callmekatootie commented on #188
Resolved

[2020-07-22 10:01] #188 closed

[2020-07-22 10:02] callmekatootie commented on #286
Resolved

[2020-07-22 10:02] #286 closed

[2020-07-22 10:05] callmekatootie commented on #55
Resolved

[2020-07-22 10:05] #55 closed

[2020-07-22 10:07] callmekatootie commented on #56
Resolved

[2020-07-22 10:07] #56 closed

[2020-07-22 11:34] callmekatootie commented on #136
Resolved

[2020-07-22 11:34] #136 closed

[2020-07-23 07:16] cwdcwd commented on #17
Contest https://www.topcoder.com/challenges/30133957 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 07:16] cwdcwd commented on #45
Contest https://www.topcoder.com/challenges/30133958 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 07:17] cwdcwd commented on #41
Contest https://www.topcoder.com/challenges/30133959 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 07:17] cwdcwd commented on #29
Contest https://www.topcoder.com/challenges/30133960 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 07:17] cwdcwd commented on #27
Contest https://www.topcoder.com/challenges/30133961 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 07:17] cwdcwd commented on #66
Contest https://www.topcoder.com/challenges/30133962 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 07:17] cwdcwd commented on #65
Contest https://www.topcoder.com/challenges/30133963 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 07:17] cwdcwd commented on #62
Contest https://www.topcoder.com/challenges/30133964 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 07:17] cwdcwd commented on #118
Contest https://www.topcoder.com/challenges/30133965 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 07:17] cwdcwd commented on #93
Contest https://www.topcoder.com/challenges/30133966 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 07:17] cwdcwd commented on #88
Contest https://www.topcoder.com/challenges/30133967 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 07:17] cwdcwd commented on #81
Contest https://www.topcoder.com/challenges/30133968 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 07:17] cwdcwd commented on #315
Contest https://www.topcoder.com/challenges/30133969 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 07:18] cwdcwd commented on #305
Contest https://www.topcoder.com/challenges/30133970 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 07:18] cwdcwd commented on #168
Contest https://www.topcoder.com/challenges/30133971 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 07:18] cwdcwd commented on #165
Contest https://www.topcoder.com/challenges/30133972 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 07:18] cwdcwd commented on #507
Contest https://www.topcoder.com/challenges/30133973 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 07:18] cwdcwd commented on #481
Contest https://www.topcoder.com/challenges/30133974 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 07:18] cwdcwd commented on #455
Contest https://www.topcoder.com/challenges/30133975 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 07:18] cwdcwd commented on #386
Contest https://www.topcoder.com/challenges/30133976 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 07:18] cwdcwd commented on #359
Contest https://www.topcoder.com/challenges/30133977 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 07:20] cwdcwd commented on #524
Contest https://www.topcoder.com/challenges/30133978 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 08:20] cwdcwd commented on #62
Contest https://www.topcoder.com/challenges/30133964 has been updated - it has been assigned to _ckd.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 08:28] cwdcwd commented on #17
Contest https://www.topcoder.com/challenges/30133957 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 08:40] cwdcwd commented on #118
Contest https://www.topcoder.com/challenges/30133965 has been updated - it has been assigned to vibhash_19.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 08:42] cwdcwd commented on #27
Contest https://www.topcoder.com/challenges/30133961 has been updated - it has been assigned to vibhash_19.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 08:46] cwdcwd commented on #29
Contest https://www.topcoder.com/challenges/30133960 has been updated - it has been assigned to vibhash_19.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 08:50] cwdcwd commented on #88
Contest https://www.topcoder.com/challenges/30133967 has been updated - it has been assigned to vibhash_19.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 08:55] cwdcwd commented on #315
Contest https://www.topcoder.com/challenges/30133969 has been updated - it has been assigned to nursoltan-s.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 08:56] cwdcwd commented on #45
Contest https://www.topcoder.com/challenges/30133958 has been updated - it has been assigned to logicbreaker.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 09:01] cwdcwd commented on #65
Contest https://www.topcoder.com/challenges/30133963 has been updated - it has been assigned to vibhash_19.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 09:29] cwdcwd commented on #455
Contest https://www.topcoder.com/challenges/30133975 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 09:45] cwdcwd commented on #165
Contest https://www.topcoder.com/challenges/30133972 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 09:46] iversonLv commented on #168
@callmekatootie Can I try this?

[2020-07-23 10:43] callmekatootie commented on #16
@topcoder-platform/u-bahn-members Kindly note that even though I may accept the Pull Request, there will be a delay in marking the ticket as completed - I need to still verify the changes made in IE11 browser, for which I need to push the changes to our deployed instance (https://skill-search.topcoder-dev.com/) and test on another device.

Hence, even though I may accept the PR, the ticket will no

[2020-07-23 10:47] iversonLv commented on #168
ignore me, something is stuck
Thanks.

[2020-07-23 10:49] callmekatootie commented on #168
@iversonLv Sorry - seeing this now - do you want to work on this ticket? You can pick it up - Bug Bash is live!

[2020-07-23 10:50] iversonLv commented on #168
@callmekatootie No, I am not going to take this.

Thanks.

[2020-07-23 10:51] codingdrone commented on #524
working on it.

[2020-07-23 10:52] callmekatootie commented on #524
@codingdrone You need to assign yourself to the ticket and remove the label - else this ticket is open for others to work on. Let me know if you are facing issues with it

[2020-07-23 10:55] rashmi73 commented on #165
@callmekatootie PR https://github.com/topcoder-platform/u-bahn-app/pull/543

[2020-07-23 10:56] cwdcwd commented on #141
Contest https://www.topcoder.com/challenges/30134027 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 10:58] codingdrone commented on #524
I couldn't assign as x.topcoder didn't work, please assign this issue.

[2020-07-23 11:00] cwdcwd commented on #168
Contest https://www.topcoder.com/challenges/30133971 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 11:01] callmekatootie commented on #524
No worries - Have you worked with TCX before - just making sure that there is a mapping between your topcoder and github handles... ?

[2020-07-23 11:01] Giri-Suman commented on #41
@cwdcwd please assign it to me. not able to assign

[2020-07-23 11:02] callmekatootie commented on #41
Have you worked on TCX before? Just making sure that your topcoder handle is mapped to your github handle...

[2020-07-23 11:04] codingdrone commented on #524
yes, worked with TCX on other projects.

[2020-07-23 11:06] callmekatootie commented on #524
Cool. Added you - could you try assigning now

[2020-07-23 11:07] codingdrone commented on #524
thanks

[2020-07-23 11:07] cwdcwd commented on #524
Contest https://www.topcoder.com/challenges/30133978 has been updated - it has been assigned to codingdrone.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 11:08] romitgithub commented on #41
@callmekatootie  Please assign this to me.

[2020-07-23 11:14] romitgithub commented on #507
@callmekatootie  Please assign me this.

[2020-07-23 11:20] callmekatootie commented on #507
Have you worked on TCX before? Just making sure that your topcoder handle and github handle are mapped...

[2020-07-23 11:20] romitgithub commented on #507
Yes, I have.

[2020-07-23 11:21] callmekatootie commented on #507
Ok - can you kindly accept the invite and after that, try to assign this ticket to you - let me know if you face any issues

[2020-07-23 11:21] callmekatootie commented on #41
I am waiting on @Giri-Suman to respond. I have assigned #507 to you for now

[2020-07-23 11:23] romitgithub commented on #507
@callmekatootie  I'm. not able to run the project. Where to define the env file?

[2020-07-23 11:24] cwdcwd commented on #507
Contest https://www.topcoder.com/challenges/30133973 has been updated - it has been assigned to Timor.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 11:28] callmekatootie commented on #507
you can define the env file in the application ROOT

[2020-07-23 11:31] romitgithub commented on #507
I have already defined it, but it's not working.

[2020-07-23 11:35] callmekatootie commented on #507
Here's what I have done

- I have the `.env` file defined in application ROOT
- I have installed node foreman. I start my app using `nf run npm run dev` command and it worked for me.

[2020-07-23 11:42] cwdcwd commented on #305
Contest https://www.topcoder.com/challenges/30133970 has been updated - it has been assigned to Timor.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 11:53] romitgithub commented on #41
@callmekatootie  Can I take this now?

[2020-07-23 12:06] rashmi73 commented on #168
@callmekatootie PR https://github.com/topcoder-platform/u-bahn-app/pull/546

[2020-07-23 12:06] cwdcwd commented on #41
Contest https://www.topcoder.com/challenges/30133959 has been updated - it has been assigned to Suman-953556.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 12:07] Giri-Suman commented on #41
now i can assign

[2020-07-23 12:09] cwdcwd commented on #81
Contest https://www.topcoder.com/challenges/30133968 has been updated - it has been assigned to Timor.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 12:13] bappa90 commented on #141
@cwdcwd I am not able to assign can you please assign it to me

[2020-07-23 12:15] cwdcwd commented on #93
Contest https://www.topcoder.com/challenges/30133966 has been updated - it has been assigned to Timor.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 12:15] kavinkuma6 commented on #141
Yes, We are all waiting, we need access to assign. Please provide access to assign ourselves.

[2020-07-23 12:18] Abhas1992 commented on #481
@callmekatootie could you please assign it as unable to take it

[2020-07-23 12:18] hoangnam2261 commented on #386
Hi @callmekatootie , I want to work on this. Because there is a problem with mapping as mention on topcoder forums.
Could your please assign to me?

[2020-07-23 12:29] cwdcwd commented on #66
Contest https://www.topcoder.com/challenges/30133962 has been updated - it has been assigned to vibhash_19.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 12:35] rashmi73 commented on #165
@callmekatootie PR updated https://github.com/topcoder-platform/u-bahn-app/pull/543

[2020-07-23 12:38] callmekatootie commented on #141
Sorry - but are you all facing the same issue during registration through that link?

[2020-07-23 12:39] cwdcwd commented on #386
Contest https://www.topcoder.com/challenges/30133976 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 12:39] callmekatootie commented on #481
@Abhas1992 Did you register through the link?

[2020-07-23 12:44] cwdcwd commented on #141
Contest https://www.topcoder.com/challenges/30134027 has been updated - it has been assigned to Nam-NNG.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 12:45] Abhas1992 commented on #481
Yes I tried but unable to gives error

[2020-07-23 12:47] callmekatootie commented on #481
Ok - I have sent the invite. Please accept it and then try adding yourself

[2020-07-23 12:55] cwdcwd commented on #507
Contest https://www.topcoder.com/challenges/30133973 has been updated - it has been assigned to XnivaXhzne.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 12:56] cwdcwd commented on #481
Contest https://www.topcoder.com/challenges/30133974 has been updated - it has been assigned to Abhas1992.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 12:56] Abhas1992 commented on #481
Thanks it is working

[2020-07-23 12:59] cwdcwd commented on #359
Contest https://www.topcoder.com/challenges/30133977 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 13:08] venkygot commented on #319
@callmekatootie Kindly give me access and assign this issue.

Thanks

[2020-07-23 13:12] cwdcwd commented on #319
Contest https://www.topcoder.com/challenges/30134032 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 13:12] cwdcwd commented on #319
Contest https://www.topcoder.com/challenges/30134032 has been updated - it has been assigned to kingszlayer.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 13:26] venkygot commented on #319
accidentally assigned this ticket which wasn't ready for pickup

[2020-07-23 13:27] callmekatootie commented on #319
No worries. Thanks for unassigning.

You can take up other tickets open for pickup - you should now be able to assign them

[2020-07-23 13:32] cwdcwd commented on #319
Contest https://www.topcoder.com/challenges/30134032 has been updated - genycopedison has been unassigned.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 13:34] phongnt commented on #319
How to assign this ticket? @callmekatootie al

[2020-07-23 13:39] cwdcwd commented on #484
Contest https://www.topcoder.com/challenges/30134034 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 13:39] cwdcwd commented on #484
Contest https://www.topcoder.com/challenges/30134034 has been updated - it has been assigned to genycopedison.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 13:42] callmekatootie commented on #319
@venkygot Hang on - @phongnt Might want to work on it.

@phongnt On the top right side, assign yourself

[2020-07-23 13:42] callmekatootie commented on #319
Just assign yourself - and TCX will take care of the labels...

[2020-07-23 13:43] venkygot commented on #319
@callmekatootie can I take up other issue?

[2020-07-23 13:43] cwdcwd commented on #319
Contest https://www.topcoder.com/challenges/30134032 has been updated - it has been assigned to Timor.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 13:47] callmekatootie commented on #319
@venkygot Yes you can. If the label open for pickup is present on the ticket, you can assign that ticket to you and work on it

[2020-07-23 13:48] callmekatootie commented on #319
@romitgithub Hang on please. @phongnt has expressed their interest but seem to be facing issue assigning themselves.

@phongnt Can you please try to assign yourself or let me know if you are not interested anymore in taking this up for others to pick it up?

[2020-07-23 13:49] cwdcwd commented on #319
Contest https://www.topcoder.com/challenges/30134032 has been updated - it has been assigned to kingszlayer.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 13:50] narekcat commented on #17
Hello @callmekatootie . There isn't "Add Filters" modal, there is only "Manage Filters". I guess you mean "Manage Filters" modal, am I right ?

[2020-07-23 13:50] callmekatootie commented on #17
Yes correct

[2020-07-23 13:51] narekcat commented on #17
@callmekatootie Ok, thanks.

[2020-07-23 13:51] callmekatootie commented on #319
@phongnt I am afraid I can keep the ticket open only for another 10 minutes - you need to hurry up else you will lose out and others will pick this ticket up

[2020-07-23 13:53] phongnt commented on #319
@callmekatootie Thanks, but I picked another issue to fix

[2020-07-23 13:56] romitgithub commented on #319
@callmekatootie  Can I take this now? I should be given priority since I was removed.

[2020-07-23 14:01] romitgithub commented on #319
I already started working, I was removed midway. I have fixed it too.

[2020-07-23 14:09] callmekatootie commented on #319
Urgh... I see now that this ticket was not open for pickup...

Do not work on this ticket yet...

[2020-07-23 14:09] callmekatootie commented on #319
(The original label I mean - I was helping phongt assign themselves without realizing that this ticket was not open for pickup yet)

[2020-07-23 14:16] narekcat commented on #17
@callmekatootie

Do you mean this sections ?

![ubahn-edit-profile-highlited-section](https://user-images.githubusercontent.com/11549629/88297043-81daea80-cd10-11ea-8ed1-13d5055003d7.png)

[2020-07-23 14:17] callmekatootie commented on #17
Sorry - Forgot to provide screenshot. You got it right.

[2020-07-23 14:17] callmekatootie commented on #17
Also - be sure to pull latest develop branch. LOTs of changes being merged that will affect components that you are working on - so be sure to stay updated with the latest

[2020-07-23 14:17] narekcat commented on #17
@callmekatootie Ok.

[2020-07-23 15:26] callmekatootie commented on #27
@Vips19 In IE11, your changes have side effects:

![image](https://user-images.githubusercontent.com/2317133/88305105-bbb6eb80-cd26-11ea-8381-510aca2f0429.png)

The first row - Avengers - is WITHOUT your changes. The toggle button shows fine.
The second row onward is with your changes - you can see that the toggle button has gone down and is not displayed properly.

[2020-07-23 15:26] cwdcwd commented on #319
Contest https://www.topcoder.com/challenges/30134032 has been updated - genycopedison has been unassigned.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 15:27] phongnt commented on #319
@callmekatootie I fixed 1 issue. How to assign this issue?

[2020-07-23 15:27] cwdcwd commented on #319
Contest https://www.topcoder.com/challenges/30134032 has been updated - genycopedison has been unassigned.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 15:31] #29 closed

[2020-07-23 15:32] cwdcwd commented on #29
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30133960<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 15:35] #65 closed

[2020-07-23 15:35] cwdcwd commented on #65
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30133963<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 15:36] #81 closed

[2020-07-23 15:36] cwdcwd commented on #81
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30133968<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 15:37] #88 closed

[2020-07-23 15:37] cwdcwd commented on #88
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30133967<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 15:38] phongnt commented on #173
@callmekatootie Can I change label to Assigned?

[2020-07-23 15:39] callmekatootie commented on #93
@romitgithub The fix is not working in the Add to Group modal.

[2020-07-23 15:41] #118 closed

[2020-07-23 15:42] #165 closed

[2020-07-23 15:44] callmekatootie commented on #168
@rashmi73 The text color should also change - not just the background color

[2020-07-23 15:44] cwdcwd commented on #165
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30133972<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 15:45] #305 closed

[2020-07-23 15:45] cwdcwd commented on #305
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30133970<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 15:45] cwdcwd commented on #118
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30133965<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 15:53] cwdcwd commented on #163
Contest https://www.topcoder.com/challenges/30134054 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 15:53] cwdcwd commented on #163
Contest https://www.topcoder.com/challenges/30134054 has been updated - it has been assigned to Nam-NNG.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 15:56] cwdcwd commented on #173
Contest https://www.topcoder.com/challenges/30134055 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 16:39] romitgithub commented on #93
@callmekatootie Will fix it for that too.

[2020-07-23 17:05] cwdcwd commented on #262
Contest https://www.topcoder.com/challenges/30134057 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 17:05] cwdcwd commented on #262
Contest https://www.topcoder.com/challenges/30134057 has been updated - it has been assigned to genycopedison.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 17:09] PrakashDurlabhji commented on #262
@callmekatootie can you please unassign phongnt as it was not open for pickup and he assigned himself

[2020-07-23 17:13] callmekatootie commented on #319
@phongnt This ticket is NOT open for pickup.

Look for the labels on the tickets. Only tickets with label open for pickup are tickets that you can assign to yourself.

[2020-07-23 17:19] callmekatootie commented on #173
@phongnt I am afraid I will have to block you if you do not follow the rules of the bug bash.

**Only Tickets with label Open For Pickup need to be worked on.**

Please DO NOT pick any ticket - look for the label "Open For Pickup" - https://github.com/topcoder-platform/u-bahn-app/issues?q=is%3Aopen+is%3Aissue+label%3Atcx_OpenForPickup.

Right now, there are none - but I will add more soon

[2020-07-23 17:20] callmekatootie commented on #262
@phongnt Please follow the rules of the bug bash. You will be blocked otherwise.

Only Tickets with label Open For Pickup need to be worked on.

Please DO NOT pick any ticket - look for the label "Open For Pickup" - https://github.com/topcoder-platform/u-bahn-app/issues?q=is%3Aopen+is%3Aissue+label%3Atcx_OpenForPickup.

Right now, there are none - but I will add more soon

[2020-07-23 17:21] callmekatootie commented on #484
@phongnt Only Tickets with label Open For Pickup need to be worked on.

Please DO NOT pick any ticket - look for the label "Open For Pickup" - https://github.com/topcoder-platform/u-bahn-app/issues?q=is%3Aopen+is%3Aissue+label%3Atcx_OpenForPickup.

Right now, there are none - but I will add more soon

[2020-07-23 17:24] callmekatootie commented on #403
@nahidshahin Hang on - TCX did not create a contest for this ticket. Will check why - you will be the assignee - I may remove you but will add you back again

[2020-07-23 17:27] callmekatootie opened #552 "[$20] No debouncing for filters"
https://github.com/topcoder-platform/u-bahn-app/issues/403 - Opened a new ticket because TCX is not creating a contest in the former

[2020-07-23 17:30] callmekatootie commented on #552
@phongnt Hang on please - this is from #403 and goes to another member... Don't assign this yet

[2020-07-23 17:30] cwdcwd commented on #552
Contest https://www.topcoder.com/challenges/30134059 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 17:30] cwdcwd commented on #552
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 17:31] cwdcwd commented on #552
Contest https://www.topcoder.com/challenges/30134059 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 17:32] cwdcwd commented on #552
Contest https://www.topcoder.com/challenges/30134059 has been updated - it has been assigned to genycopedison.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 17:32] callmekatootie commented on #552
Alright - this works.

@nahidshahin Kindly use this ticket and not #403

[2020-07-23 17:32] callmekatootie commented on #403
@nahidshahin Closing this ticket - copied it over to https://github.com/topcoder-platform/u-bahn-app/issues/552.

Please use that.

[2020-07-23 17:32] #403 closed

[2020-07-23 17:34] cwdcwd commented on #552
Contest https://www.topcoder.com/challenges/30134059 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 17:38] rashmi73 commented on #168
@callmekatootie yes it is changing to white ? anyother color u wish me to add?

[2020-07-23 17:38] callmekatootie commented on #168
It's isn't white - it is black - the color of the text. It should be white on hover

[2020-07-23 17:40] callmekatootie commented on #41
@Giri-Suman If you do not intend to work on the ticket - please unassign yourself and reset the label to open for pickup. The fix should not be taking 6 hours...

[2020-07-23 17:41] callmekatootie commented on #315
@nursoltan-s Don't forget to mark the ticket as open for pickup if you unassign yourself :)

[2020-07-23 17:42] rashmi73 commented on #168
@callmekatootie new PR makking color white on hover https://github.com/topcoder-platform/u-bahn-app/pull/553

[2020-07-23 17:48] callmekatootie commented on #46
Right now, the group label is already corrected to display long group names with ellipsis. However, the width of the label seems to exceed the size:

![image](https://user-images.githubusercontent.com/2317133/88319966-887e5780-cd3a-11ea-8971-e998451196cd.png)

So for this ticket - the expectations are now updated. You need to fix the labels in the Edit Profile modal exceeding the width. Your fix s

[2020-07-23 17:50] cwdcwd commented on #46
Contest https://www.topcoder.com/challenges/30134060 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 17:51] cwdcwd commented on #46
Contest https://www.topcoder.com/challenges/30134060 has been updated - Manoj85 has been unassigned.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 17:52] callmekatootie commented on #46
@Manoj85 Please go ahead and assign yourselves again - TCX had not yet created the contest so it unassigned you

[2020-07-23 17:52] cwdcwd commented on #82
Contest https://www.topcoder.com/challenges/30134061 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 17:52] cwdcwd commented on #46
Contest https://www.topcoder.com/challenges/30134060 has been updated - Manoj85 has been unassigned.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 17:53] cwdcwd commented on #46
Contest https://www.topcoder.com/challenges/30134060 has been updated - it has been assigned to Manoj85.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 17:53] callmekatootie commented on #46
nvm - I tried it for you and it worked. You are now assigned

[2020-07-23 17:54] callmekatootie commented on #89
Expected - For the Add Filter and Add Group modals, if, before the data can load, the modals are closed, cancel the network requests

[2020-07-23 17:56] PrakashDurlabhji commented on #455
@callmekatootie it is already working fine

[2020-07-23 17:56] cwdcwd commented on #89
Contest https://www.topcoder.com/challenges/30134062 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 17:57] cwdcwd commented on #82
Contest https://www.topcoder.com/challenges/30134061 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 17:57] cwdcwd commented on #91
Contest https://www.topcoder.com/challenges/30134063 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 17:57] cwdcwd commented on #102
Contest https://www.topcoder.com/challenges/30134064 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 17:58] cwdcwd commented on #123
Contest https://www.topcoder.com/challenges/30134065 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 18:01] cwdcwd commented on #151
Contest https://www.topcoder.com/challenges/30134066 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 18:01] callmekatootie commented on #455
@PrakashDurlabhji  Issue exists in Firefox. Did you check there...

[2020-07-23 18:02] callmekatootie commented on #481
@Abhas1992 Can you kindly unassign the ticket if you do not have a solution / not actively working on the ticket... It should not be taking 5 hours to fix this in my opinion

[2020-07-23 18:04] callmekatootie commented on #484
Since you have already submitted the fix, do not unassign.

[2020-07-23 18:04] callmekatootie commented on #484
But do not pick any more tickets that do not have the open for pickup label... Only tickets with that label can be assigned...

[2020-07-23 18:05] PrakashDurlabhji commented on #82
@callmekatootie done in https://github.com/topcoder-platform/u-bahn-app/pull/554

[2020-07-23 18:11] cwdcwd commented on #102
Contest https://www.topcoder.com/challenges/30134064 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 18:33] Abhas1992 commented on #481
Sorry I am new to it, I will release it

[2020-07-23 19:10] cwdcwd commented on #91
Contest https://www.topcoder.com/challenges/30134063 has been updated - it has been assigned to vibhash_19.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 19:23] cwdcwd commented on #151
Contest https://www.topcoder.com/challenges/30134066 has been updated - it has been assigned to vibhash_19.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 19:33] cwdcwd commented on #123
Contest https://www.topcoder.com/challenges/30134065 has been updated - it has been assigned to vibhash_19.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 19:43] cwdcwd commented on #123
Contest https://www.topcoder.com/challenges/30134065 has been updated - it has been assigned to khushimehta03.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 19:48] cwdcwd commented on #481
Contest https://www.topcoder.com/challenges/30133974 has been updated - it has been assigned to vibhash_19.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 20:12] prasadadarkar30 commented on #315
@callmekatootie can you please assign this to me as i am unable to assign it

[2020-07-23 20:29] PrakashDurlabhji commented on #102
@callmekatootie done in https://github.com/topcoder-platform/u-bahn-app/pull/560

[2020-07-23 20:33] PrakashDurlabhji commented on #455
<img width="960" alt="Capture" src="https://user-images.githubusercontent.com/28830240/88335993-d94d7a80-cd51-11ea-93af-4e71d8890bdc.PNG">

[2020-07-23 20:33] PrakashDurlabhji commented on #455
@callmekatootie yes

[2020-07-23 20:36] cwdcwd commented on #46
Contest https://www.topcoder.com/challenges/30134060 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 20:49] PrakashDurlabhji commented on #46
@callmekatootie done in https://github.com/topcoder-platform/u-bahn-app/pull/561

[2020-07-23 20:53] prasadadarkar30 commented on #315
@callmekatootie kindly do not assign me as I would like to solve some other issue.

[2020-07-23 20:54] cwdcwd commented on #315
Contest https://www.topcoder.com/challenges/30133969 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 21:09] cwdcwd commented on #89
Contest https://www.topcoder.com/challenges/30134062 has been updated - it has been assigned to vibhash_19.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-23 21:20] PrakashDurlabhji commented on #315
@callmekatootie done in https://github.com/topcoder-platform/u-bahn-app/pull/562

[2020-07-23 22:18] cwdcwd commented on #386
Contest https://www.topcoder.com/challenges/30133976 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 03:50] romitgithub commented on #93
@callmekatootie Fix pushed and raised a request.

[2020-07-24 03:53] romitgithub commented on #41
@callmekatootie  Can this be picked up now?

[2020-07-24 05:43] cwdcwd commented on #173
Contest https://www.topcoder.com/challenges/30134055 has been updated - genycopedison has been unassigned.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 05:44] cwdcwd commented on #173
Contest https://www.topcoder.com/challenges/30134055 has been updated - it has been assigned to genycopedison.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 05:55] cwdcwd commented on #359
Contest https://www.topcoder.com/challenges/30133977 has been updated - it has been assigned to Nam-NNG.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 06:03] romitgithub commented on #62
@callmekatootie Can I pick this up?

[2020-07-24 06:26] callmekatootie commented on #62
@kodar007 I am afraid I am assigning this to @romitgithub since you have not submitted any solution.

[2020-07-24 06:26] cwdcwd commented on #62
Contest https://www.topcoder.com/challenges/30133964 has been updated - it has been assigned to Timor.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 06:30] callmekatootie commented on #41
Yes - ticket is open for pickup

[2020-07-24 06:30] cwdcwd commented on #41
Contest https://www.topcoder.com/challenges/30133959 has been updated - it has been assigned to genycopedison.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 06:33] callmekatootie commented on #455
![image](https://user-images.githubusercontent.com/2317133/88366035-96b58d80-cda5-11ea-9391-4351a3419ebd.png)

This is what I see in Firefox...

I am unassigning this so that somebody else that can reproduce the issue can pick it up

[2020-07-24 06:34] cwdcwd commented on #455
Contest https://www.topcoder.com/challenges/30133975 has been updated - it has been assigned to Timor.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 06:35] callmekatootie commented on #123
@khushimehta03 Status check - are you working on this? If not, kindly unassign yourself and remove the assigned label, and set the open for pickup label

[2020-07-24 06:35] kodar007 commented on #62
@cwdcwd i was working on this and it's done

[2020-07-24 06:36] callmekatootie commented on #62
@kodar007 Alright - I am giving you 2 more hours after which I am afraid I will have to give other members a chance to work on this

@romitgithub Can you kindly unassign yourself

[2020-07-24 06:37] narekcat commented on #17
Hello @callmekatootie . I am actively working on this issue, but I need additional 8 hours to complete it. Can I continue to work on this issue ?

[2020-07-24 06:37] cwdcwd commented on #62
Contest https://www.topcoder.com/challenges/30133964 has been updated - it has been assigned to _ckd.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 06:37] kodar007 commented on #62
@cwdcwd https://github.com/topcoder-platform/u-bahn-app/pull/564 please review

[2020-07-24 06:38] callmekatootie commented on #17
Thanks for the update.

Yep. I agree that this one needs more effort. You can take time on it.

[2020-07-24 06:39] cwdcwd commented on #89
Contest https://www.topcoder.com/challenges/30134062 has been updated - it has been assigned to Timor.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 06:40] narekcat commented on #17
@callmekatootie . Ok, thank you.

[2020-07-24 06:40] callmekatootie commented on #45
@sanju-singh I am afraid I have to unassign you since I have not heard back and it should not be taking this long time to fix this issue.

[2020-07-24 06:42] callmekatootie commented on #507
@kavinkuma6 I am afraid I will have to unassign this since I have not heard back from you about a solution

[2020-07-24 06:43] callmekatootie commented on #524
@codingdrone Could you kindly give a status check here - if you are not actively working on this, I would like to open this for pickup

[2020-07-24 06:43] callmekatootie commented on #552
@nahidshahin Status check - if you are not actively working on this, I would like to open this for pickup

[2020-07-24 06:46] sanju-singh commented on #45
@callmekatootie , I am done. I was having network issues. sorry for the delay. sending request in 2min

[2020-07-24 06:47] callmekatootie commented on #45
Got it. Thanks for the update

[2020-07-24 06:50] cwdcwd commented on #123
Contest https://www.topcoder.com/challenges/30134065 has been updated - it has been assigned to _ckd.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 06:51] sanju-singh commented on #45
PR: https://github.com/topcoder-platform/u-bahn-app/pull/565

[2020-07-24 06:53] kavinkuma6 commented on #507
@callmekatootie I still have time to work right?
![image](https://user-images.githubusercontent.com/24503078/88367015-56a3da00-cda8-11ea-8431-b82529af5e3f.png)
![image](https://user-images.githubusercontent.com/24503078/88367053-6c190400-cda8-11ea-9529-0b5dbcf682f0.png)

[2020-07-24 07:07] cwdcwd commented on #524
Contest https://www.topcoder.com/challenges/30133978 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 07:11] khushimehta03 commented on #507
@kavinkuma6  I guess it depends on complexity of the issue and if isssue can be completed in 6 hours still 10 hours are given by @callmekatootie .

@callmekatootie can I work on it?

[2020-07-24 07:12] kavinkuma6 commented on #507
@khushimehta03 if that is the case please take it and work on. Thank You

[2020-07-24 07:15] callmekatootie commented on #507
@khushimehta03 Basically - no hoarding of tickets. Pick it up only if you intend to work on it at that moment. If you plan to work on it later, that is fine too - but it should be reasonable. You cannot utilize 18 hours for a ticket that should take much less than that.

You can pick this back up - no worries - I admit the rules did not mention this but I would like to emphasize on the No-Hoarding

[2020-07-24 07:15] khushimehta03 commented on #507
@kavinkuma6 thanks but let @callmekatootie decide. I just shared what happened with me in previous ticket

[2020-07-24 07:16] callmekatootie commented on #16
@phongnt Kindly do not unpin this - it is intentionally pinned for all.

[2020-07-24 07:18] cwdcwd commented on #507
Contest https://www.topcoder.com/challenges/30133973 has been updated - it has been assigned to khushimehta03.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 07:23] romitgithub commented on #455
@callmekatootie  It's hard to reproduce this. I see everything perfect.

Can you share more details. Like browser, resolution, screen. That would help in finding the bug. Thanks

[2020-07-24 07:31] callmekatootie commented on #455
Browser: Firefox 78
Resolution: 1920x1080
OS: Ubuntu

[2020-07-24 07:37] romitgithub commented on #455
Not able to reproduce. Releasing this.

[2020-07-24 07:39] callmekatootie commented on #473
Expected:

Launch first tab. No actions after that. - see the network requests being made
Launch second tab. No actions after that - see the network requests being made

Cancel the network requests that are made if the user switched tabs. We are already doing this for the Search request - replicate it for the other requests too...

[2020-07-24 07:41] callmekatootie commented on #392
Expected:

Type a long text in the input and then press backspace - there's an error. Expected that pressing backspace does not display the error and only erases the text

[2020-07-24 07:42] cwdcwd commented on #473
Contest https://www.topcoder.com/challenges/30134111 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 07:42] callmekatootie commented on #319
Ticket is now open for pickup

[2020-07-24 07:43] cwdcwd commented on #392
Contest https://www.topcoder.com/challenges/30134112 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 07:43] cwdcwd commented on #285
Contest https://www.topcoder.com/challenges/30134113 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 07:44] cwdcwd commented on #473
Contest https://www.topcoder.com/challenges/30134111 has been updated - it has been assigned to Timor.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 07:45] cwdcwd commented on #281
Contest https://www.topcoder.com/challenges/30134117 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 07:45] cwdcwd commented on #281
Contest https://www.topcoder.com/challenges/30134117 has been updated - it has been assigned to Timor.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 07:50] cwdcwd commented on #473
Contest https://www.topcoder.com/challenges/30134111 has been updated - it has been assigned to kingszlayer.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 07:50] callmekatootie commented on #116
Update - we do display error now. But only specific errors.

The expected fix is that if the api request returns with an error status code AND has a message attribute, display the message attribute value in the alert() function.

Example to test with - try entering a group name more than 150 characters or less than 3 characters...

[2020-07-24 07:50] cwdcwd commented on #116
Contest https://www.topcoder.com/challenges/30134137 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 07:52] cwdcwd commented on #128
Contest https://www.topcoder.com/challenges/30134148 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 07:56] cwdcwd commented on #196
Contest https://www.topcoder.com/challenges/30134156 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 07:57] cwdcwd commented on #200
Contest https://www.topcoder.com/challenges/30134157 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 07:57] cwdcwd commented on #245
Contest https://www.topcoder.com/challenges/30134158 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 08:06] cwdcwd commented on #163
Contest https://www.topcoder.com/challenges/30134054 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 08:16] cwdcwd commented on #128
Contest https://www.topcoder.com/challenges/30134148 has been updated - it has been assigned to vibhash_19.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 08:22] cwdcwd commented on #66
Contest https://www.topcoder.com/challenges/30133962 has been updated - it has been assigned to Timor.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 09:38] cwdcwd commented on #285
Contest https://www.topcoder.com/challenges/30134113 has been updated - it has been assigned to Timor.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 09:49] cwdcwd commented on #481
Contest https://www.topcoder.com/challenges/30133974 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 10:04] kodar007 commented on #123
@cwdcwd pr https://github.com/topcoder-platform/u-bahn-app/pull/570 please review

[2020-07-24 10:04] cwdcwd commented on #455
Contest https://www.topcoder.com/challenges/30133975 has been updated - it has been assigned to vibhash_19.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 10:04] cwdcwd commented on #200
Contest https://www.topcoder.com/challenges/30134157 has been updated - it has been assigned to Timor.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 10:06] cwdcwd commented on #392
Contest https://www.topcoder.com/challenges/30134112 has been updated - it has been assigned to _ckd.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 10:19] cwdcwd commented on #319
Contest https://www.topcoder.com/challenges/30134032 has been updated - it has been assigned to Timor.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 10:20] romitgithub commented on #93
@callmekatootie This is merged. Please close this and create payment. Thanks

[2020-07-24 10:35] cwdcwd commented on #245
Contest https://www.topcoder.com/challenges/30134158 has been updated - it has been assigned to vibhash_19.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 10:39] marioskranitsas commented on #285
@callmekatootie can I please work on this? I cannot self-assign.

[2020-07-24 10:41] PrakashDurlabhji commented on #102
@callmekatootie PR updated https://github.com/topcoder-platform/u-bahn-app/pull/560

[2020-07-24 11:10] prasadadarkar30 commented on #196
@callmekatootie i am unable to self assign, can you please assign to me.I am starting on this thanks

[2020-07-24 11:33] cwdcwd commented on #245
Contest https://www.topcoder.com/challenges/30134158 has been updated - it has been assigned to genycopedison.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 11:42] PrakashDurlabhji commented on #46
@callmekatootie PR updated https://github.com/topcoder-platform/u-bahn-app/pull/561

[2020-07-24 12:05] cwdcwd commented on #285
Contest https://www.topcoder.com/challenges/30134113 has been updated - it has been assigned to genycopedison.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 12:12] phongnt commented on #285
@callmekatootie I could not reproduce on develop branch now, because of reset button is not shown in custom attributes.

![image](https://user-images.githubusercontent.com/759326/88389818-6a1f6700-cde1-11ea-8395-15a6fdca028f.png)

[2020-07-24 12:14] cwdcwd commented on #116
Contest https://www.topcoder.com/challenges/30134137 has been updated - it has been assigned to genycopedison.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 12:21] marioskranitsas commented on #285
Hi @phongnt, as you can see I have requested from the copilot to work on this issue as I'm not able to self-assign. Please respect the rules and do not pick issues that someone else is working on. Thank you!
cc @callmekatootie

[2020-07-24 12:21] callmekatootie commented on #141
@hoangnam2261 Any updates here - if you are not able to resolve this soon, I may have to open it for others to work on

[2020-07-24 12:34] phongnt commented on #285
@marioskranitsas Sorry, I missed your comment. Unassigned.

[2020-07-24 13:15] phongnt commented on #116
![image](https://user-images.githubusercontent.com/759326/88394864-56c4c980-cdea-11ea-9f49-f5b545f839a1.png)

[2020-07-24 13:27] PrakashDurlabhji commented on #46
@callmekatootie  https://github.com/topcoder-platform/u-bahn-app/pull/561

[2020-07-24 13:36] PrakashDurlabhji commented on #386
@callmekatootie near to be done

[2020-07-24 14:15] romitgithub commented on #66
@callmekatootie Updated the PR to add scroll in Global Search Page as well.

[2020-07-24 14:34] callmekatootie commented on #93
@romitgithub https://github.com/topcoder-platform/u-bahn-app/issues/16#issuecomment-662937664

[2020-07-24 14:37] callmekatootie commented on #386
@PrakashDurlabhji Ok. Hoping a solution is submitted soon...

[2020-07-24 14:39] cwdcwd commented on #285
Contest https://www.topcoder.com/challenges/30134113 has been updated - it has been assigned to marioskranitsas.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 14:39] callmekatootie commented on #285
@marioskranitsas You have been added to the group. You can assign yourself now

[2020-07-24 14:40] callmekatootie commented on #285
But let me check if this issue still exists in IE11 or not...

[2020-07-24 14:41] marioskranitsas commented on #285
PR: https://github.com/topcoder-platform/u-bahn-app/pull/577

[2020-07-24 14:42] callmekatootie commented on #285
Confirmed - issue does still exist in IE11

[2020-07-24 14:42] callmekatootie commented on #285
*Yet to check your PR

[2020-07-24 14:44] callmekatootie commented on #196
@prasadadarkar30 You Have been added to the group - can you accept the invite and then assign yourself to the ticket - let me know if you still face an issue

[2020-07-24 14:55] callmekatootie commented on #16
@topcoder-platform/u-bahn-members Kindly do not forget to update your base branch to keep it in sync with `develop` branch - Lots of updates being merged - you will soon run into merge conflicts if you are not working on the latest code base...

[2020-07-24 14:55] romitgithub commented on #89
@callmekatootie  Updated PR with fix for the console error.

[2020-07-24 15:09] cwdcwd commented on #46
Contest https://www.topcoder.com/challenges/30134060 has been updated - it has been assigned to Timor.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 15:13] narekcat commented on #17
@callmekatootie . I have fixed this issue. Please see pull request https://github.com/topcoder-platform/u-bahn-app/pull/578.

[2020-07-24 15:22] #27 closed

[2020-07-24 15:23] cwdcwd commented on #27
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30133961<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 15:23] #41 closed

[2020-07-24 15:23] cwdcwd commented on #41
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30133959<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 15:25] callmekatootie commented on #45
@sanju-singh There's one issue - clicking on the Name / Chevron icon after the dropdown has opened - does not close the dropdown

[2020-07-24 15:26] callmekatootie opened #579 "Horizontal scrollbar seen in IE11"
A small horizontal scrollbar is seen in IE11 - scrolling does not reveal much but the scrollbar is still shown

[2020-07-24 15:27] #62 closed

[2020-07-24 15:27] cwdcwd commented on #62
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30133964<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 15:27] #66 closed

[2020-07-24 15:28] cwdcwd commented on #66
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30133962<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 15:28] #82 closed

[2020-07-24 15:28] cwdcwd commented on #82
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134061<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 15:32] #89 closed

[2020-07-24 15:33] cwdcwd commented on #89
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134062<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 15:34] #91 closed

[2020-07-24 15:35] cwdcwd commented on #91
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134063<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 15:35] #93 closed

[2020-07-24 15:36] cwdcwd commented on #93
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30133966<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 15:36] #102 closed

[2020-07-24 15:37] cwdcwd commented on #102
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134064<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 15:37] #116 closed

[2020-07-24 15:37] cwdcwd commented on #116
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134137<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 15:38] #123 closed

[2020-07-24 15:39] cwdcwd commented on #196
Contest https://www.topcoder.com/challenges/30134156 has been updated - it has been assigned to Suman-953556.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 15:39] cwdcwd commented on #123
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134065<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 15:39] #128 closed

[2020-07-24 15:39] cwdcwd commented on #128
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134148<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 15:40] #151 closed

[2020-07-24 15:41] cwdcwd commented on #151
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134066<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 15:41] #168 closed

[2020-07-24 15:41] cwdcwd commented on #168
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30133971<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 15:42] #173 closed

[2020-07-24 15:42] cwdcwd commented on #173
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134055<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 15:43] #200 closed

[2020-07-24 15:43] cwdcwd commented on #200
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134157<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 15:43] #245 closed

[2020-07-24 15:43] cwdcwd commented on #245
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134158<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 15:46] callmekatootie commented on #281
@romitgithub In IE11, the fix is not working:

![image](https://user-images.githubusercontent.com/2317133/88409719-f7b78280-cdf2-11ea-94d4-730e0eca7f91.png)

[2020-07-24 15:47] #285 closed

[2020-07-24 15:47] cwdcwd commented on #285
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134113<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 15:48] #319 closed

[2020-07-24 15:48] cwdcwd commented on #319
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134032<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 15:48] #455 closed

[2020-07-24 15:48] cwdcwd commented on #455
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30133975<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 15:50] #484 closed

[2020-07-24 15:50] cwdcwd commented on #484
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134034<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 15:53] cwdcwd commented on #75
Contest https://www.topcoder.com/challenges/30134228 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 15:54] cwdcwd commented on #152
Contest https://www.topcoder.com/challenges/30134229 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 15:54] cwdcwd commented on #161
Contest https://www.topcoder.com/challenges/30134230 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 15:56] cwdcwd commented on #152
Contest https://www.topcoder.com/challenges/30134229 has been updated - it has been assigned to vibhash_19.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 15:57] callmekatootie commented on #233
Clicking the active group multiple times is now disabled. This issue thus cannot be reproduced anymore and is thus being closed.

[2020-07-24 15:57] #233 closed

[2020-07-24 15:57] callmekatootie commented on #262
This ticket is now open for pickup

[2020-07-24 16:00] callmekatootie commented on #507
@khushimehta03 Checking in - any updates?

[2020-07-24 16:00] callmekatootie commented on #481
@gets0ul Were you able to resolve the deployment issue? If not, I would want to open the ticket for others to pickup

[2020-07-24 16:00] cwdcwd commented on #161
Contest https://www.topcoder.com/challenges/30134230 has been updated - it has been assigned to genycopedison.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 16:02] callmekatootie commented on #196
@Giri-Suman I see that @prasadadarkar30 has commented that they will be taking this up BEFORE you assigned it. Can you kindly unassign yourself.

@prasadadarkar30 Please assign the ticket to you, failing which the ticket will be open for others to pickup in 12 hours

[2020-07-24 16:03] callmekatootie commented on #163
@Gauravseta Status check - if you are not actively working on the ticket, please unassign and open for pickup

[2020-07-24 16:11] romitgithub commented on #281
@callmekatootie Using **break-all** is alright?

[2020-07-24 16:12] bappa90 commented on #75
@callmekatootie not able to assign please assign it to me

[2020-07-24 16:12] bappa90 commented on #75
getting "{"message":"Failed to add team member. 422 error making request PUT https://api.github.com/teams/3940647/memberships/bappa90: \"Unprocessable Entity\".\n","code":"Unprocessable Entity"}
"

[2020-07-24 16:12] bappa90 commented on #75
I am working on this issue

[2020-07-24 16:12] cwdcwd commented on #75
Contest https://www.topcoder.com/challenges/30134228 has been updated - it has been assigned to marioskranitsas.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 16:16] romitgithub commented on #281
Updated PR

[2020-07-24 16:18] cwdcwd commented on #552
Contest https://www.topcoder.com/challenges/30134059 has been updated - it has been assigned to Timor.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 16:27] cwdcwd commented on #262
Contest https://www.topcoder.com/challenges/30134057 has been updated - it has been assigned to Suman-953556.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 16:46] cwdcwd commented on #196
Contest https://www.topcoder.com/challenges/30134156 has been updated - it has been assigned to prasadadarkar30.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 16:46] prasadadarkar30 commented on #196
@callmekatootie thanks

[2020-07-24 17:01] sanju-singh commented on #45
ok, looking into it.

[2020-07-24 17:07] gets0ul commented on #481
@callmekatootie you can open it back as I have not yet manage to setup it correctly. Thanks.

[2020-07-24 18:26] sanju-singh commented on #45
@callmekatootie  PR: https://github.com/topcoder-platform/u-bahn-app/pull/585

[2020-07-24 23:07] PrakashDurlabhji commented on #386
@callmekatootie done in https://github.com/topcoder-platform/u-bahn-app/pull/587

[2020-07-24 23:36] PrakashDurlabhji commented on #315
@callmekatootie PR update https://github.com/topcoder-platform/u-bahn-app/pull/562

[2020-07-24 23:46] cwdcwd commented on #196
Contest https://www.topcoder.com/challenges/30134156 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-24 23:51] PrakashDurlabhji commented on #196
@callmekatootie done in https://github.com/topcoder-platform/u-bahn-app/pull/588

[2020-07-25 00:06] cwdcwd commented on #507
Contest https://www.topcoder.com/challenges/30133973 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 00:32] cwdcwd commented on #524
Contest https://www.topcoder.com/challenges/30133978 has been updated - it has been assigned to genycopedison.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 02:04] cwdcwd commented on #163
Contest https://www.topcoder.com/challenges/30134054 has been updated - it has been assigned to Timor.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 03:27] kodar007 commented on #392
@cwdcwd on investigating i found that input dom is not being updated on ie 11 while it's updating on chrome. I will try adding babel polyfill to fix this

[2020-07-25 03:37] callmekatootie commented on #141
This ticket is now open for pickup

[2020-07-25 03:38] cwdcwd commented on #141
Contest https://www.topcoder.com/challenges/30134027 has been updated - it has been assigned to XnivaXhzne.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 03:39] callmekatootie commented on #75
@bappa90 you should be able to assign yourself now...

[2020-07-25 03:40] callmekatootie commented on #75
Accept the invite first - and then try to assign. Please assign yourself in the next four hours else others will be allowed to take this ticket up

[2020-07-25 03:41] callmekatootie commented on #392
@kodar007 Thanks for the update

[2020-07-25 03:41] callmekatootie commented on #473
@venkygot Don't forget to add the Ready For Review label if the PR has been submitted...

[2020-07-25 04:32] callmekatootie opened #591 "Wrong url when creating new bulk upload template"
When you create a new template, the `url` attribute seems to be incorrect:

[code]

It should be the full url...

[2020-07-25 04:40] cwdcwd commented on #141
Contest https://www.topcoder.com/challenges/30134027 has been updated - it has been assigned to genycopedison.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 04:49] phongnt commented on #141
@callmekatootie I could not reproduce this issue on develop branch now

![image](https://user-images.githubusercontent.com/759326/88448911-c4b1d500-ce6c-11ea-88f7-2a4061e1b661.png)

[2020-07-25 04:49] cwdcwd commented on #481
Contest https://www.topcoder.com/challenges/30133974 has been updated - it has been assigned to genycopedison.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 04:56] callmekatootie commented on #439
@wdprice Minor issue - the file type was not in the white list. This is now resolved.

[2020-07-25 04:56] #439 closed

[2020-07-25 04:57] callmekatootie commented on #439
Also - verified that processor is able to work with CSV files - uploaded a CSV file and it updated the data successfully

[2020-07-25 05:02] callmekatootie commented on #63
@wdprice The Auth0 config needs to be updated to white list the redirect urls - [Reference](https://auth0.com/docs/logout/guides/redirect-users-after-logout)

You need to add the following urls:
- http://localhost:3000 (For development)
- https://skill-search.topcoder-dev.com

[2020-07-25 05:02] cwdcwd commented on #359
Contest https://www.topcoder.com/challenges/30133977 has been updated - it has been assigned to kingszlayer.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 05:05] phongnt commented on #141
@callmekatootie I reproduced now

[2020-07-25 05:23] cwdcwd commented on #75
Contest https://www.topcoder.com/challenges/30134228 has been updated - it has been assigned to Suman-953556.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 05:51] callmekatootie commented on #85
Expected:

We currently have the following four environment variables used by front end:

- REACT_APP_ATTRIBUTE_ID_LOCATION
- REACT_APP_ATTRIBUTE_ID_COMPANY
- REACT_APP_ATTRIBUTE_ID_TITLE
- REACT_APP_ATTRIBUTE_ID_ISAVAILABLE

Currently, the point to GUIDs. Instead, we intend to update them to use the following values:

- REACT_APP_ATTRIBUTE_ID_LOCATION='location'
- REACT_APP_ATTRIBUTE_ID_COMPANY='

[2020-07-25 05:53] cwdcwd commented on #85
Contest https://www.topcoder.com/challenges/30134274 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 05:53] cwdcwd commented on #85
Contest https://www.topcoder.com/challenges/30134274 has been updated - it has been assigned to callmekatootie.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 05:53] callmekatootie commented on #85
This ticket is open for pickup

[2020-07-25 05:54] callmekatootie commented on #148
@wdprice So in this case, which attributes should be required

[2020-07-25 06:00] cwdcwd commented on #150
Contest https://www.topcoder.com/challenges/30134275 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 06:01] cwdcwd commented on #85
Contest https://www.topcoder.com/challenges/30134274 has been updated - it has been assigned to Timor.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 06:02] cwdcwd commented on #150
Contest https://www.topcoder.com/challenges/30134275 has been updated - it has been assigned to Timor.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 06:16] callmekatootie commented on #338
Resolved.

[2020-07-25 06:16] #338 closed

[2020-07-25 06:39] cwdcwd commented on #85
Contest https://www.topcoder.com/challenges/30134274 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 06:41] callmekatootie commented on #269
Expected: In the backend (under the `src` folder), in the api handle, detect the file type using https://www.npmjs.com/package/file-type module and reject if the file type is not among the [supported file types](https://github.com/topcoder-platform/u-bahn-app/blob/develop/client/src/components/Upload/Initial/index.jsx#L40)

Note that for csv and xls, the module will return undefined and that is ok

[2020-07-25 06:43] cwdcwd commented on #269
Contest https://www.topcoder.com/challenges/30134277 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 06:47] callmekatootie commented on #281
Yes - break-all should be fine

[2020-07-25 06:53] callmekatootie commented on #267
Did not seem to have been resolved by #123

Expected: For custom attribute filters, when there are no search results in the dropdown, display "No results found" just as you see for the Skills dropdown

[2020-07-25 06:53] cwdcwd commented on #269
Contest https://www.topcoder.com/challenges/30134277 has been updated - it has been assigned to Suman-953556.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 06:55] cwdcwd commented on #267
Contest https://www.topcoder.com/challenges/30134278 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 07:30] kodar007 commented on #392
@callmekatootie releasing this as it would take more time for me.
the issue is not related to polyfill, but components re-rending and input element getting out of focus on ie 11

[2020-07-25 09:19] cwdcwd commented on #392
Contest https://www.topcoder.com/challenges/30134112 has been updated - it has been assigned to Suman-953556.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 09:26] cwdcwd commented on #267
Contest https://www.topcoder.com/challenges/30134278 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 12:01] callmekatootie commented on #17
Bumping the payment on this ticket to by $50 @narekcat based on the effort involved

[2020-07-25 12:03] narekcat commented on #17
@callmekatootie Thank you.

[2020-07-25 13:25] cwdcwd commented on #481
Contest https://www.topcoder.com/challenges/30133974 has been updated - gets0ul has been unassigned.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 14:17] gets0ul commented on #481
@callmekatootie I finally made it work locally but it won't let me assign it back as the status is still tcx_Assigned.

[2020-07-25 15:44] phongnt commented on #481
@gets0ul cc @callmekatootie I forgot change label after unassigned. Unassigned now for pickup by others

[2020-07-25 15:59] callmekatootie commented on #17
@narekcat I have accepted the PR but there's one issue in Firefox.

In the edit profile modal, when you search for a skill, the dropdown is not shown properly

![image](https://user-images.githubusercontent.com/2317133/88460956-a3c5a000-cebd-11ea-8463-76cc705ba866.png)

Expected:

![image](https://user-images.githubusercontent.com/2317133/88460983-f30bd080-cebd-11ea-8172-72dcbc8dc8a7.png)

I am sh

[2020-07-25 16:04] cwdcwd commented on #481
Contest https://www.topcoder.com/challenges/30133974 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 16:09] cagdas001 commented on #161
@callmekatootie I'm not able to assign myself. Looks like I have no permission to do this Could you assign this to me?

[2020-07-25 16:12] narekcat commented on #17
@callmekatootie Ok, I'll fix this issue too.

[2020-07-25 16:13] callmekatootie commented on #161
@cagdas001 Try now - you should be able to do it

[2020-07-25 16:15] cwdcwd commented on #161
Contest https://www.topcoder.com/challenges/30134230 has been updated - it has been assigned to cagdas001.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 16:17] callmekatootie commented on #75
@Giri-Suman Status check - if you are not actively working on this at the moment, request you to kindly open for others to pickup

[2020-07-25 16:18] callmekatootie commented on #85
@narekcat This one's another critical issue... Also I understand the effort involved so you can take 36 hours more if needed (assuming you do intend to submit a solution)

[2020-07-25 16:19] callmekatootie commented on #267
@rashmi73  Status check - if you are not actively working on this at the moment, request you to kindly open for others to pickup

[2020-07-25 16:19] callmekatootie commented on #359
@venkygot  Status check - if you are not actively working on this at the moment, request you to kindly open for others to pickup

[2020-07-25 16:19] callmekatootie commented on #507
@PrakashDurlabhji  Status check - if you are not actively working on this at the moment, request you to kindly open for others to pickup

[2020-07-25 16:21] narekcat commented on #85
@callmekatootie . Ok, I am actively working on this issue. Thank you for additional hours. I'll submit my solution in time.

[2020-07-25 16:28] callmekatootie commented on #17
@narekcat On IE11 it is definitely much much better.

Found just one issue in IE11:

![image](https://user-images.githubusercontent.com/2317133/88461505-b215bb00-cec1-11ea-9a72-4a0babc364f2.png)

The role and company seems to overlap with the groups - expected would be that the role / company push the group content further down (I would say that it can squish group up to the extent where at a mini

[2020-07-25 16:29] cwdcwd commented on #45
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30133958<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 16:29] narekcat commented on #17
@callmekatootie Ok, I'll fix this issue too.

[2020-07-25 16:29] #46 closed

[2020-07-25 16:30] cwdcwd commented on #46
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134060<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 16:31] #141 closed

[2020-07-25 16:31] cwdcwd commented on #141
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134027<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 16:32] #150 closed

[2020-07-25 16:32] cwdcwd commented on #150
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134275<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 16:35] #152 closed

[2020-07-25 16:35] cwdcwd commented on #152
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134229<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 16:37] phongnt commented on #75
@callmekatootie Can I pickup this?

[2020-07-25 16:38] PrakashDurlabhji commented on #507
@callmekatootie i am working

[2020-07-25 16:44] rashmi73 commented on #267
@callmekatootie Yes I am actively and MR in sometime

[2020-07-25 16:57] cwdcwd commented on #359
Contest https://www.topcoder.com/challenges/30133977 has been updated - it has been assigned to genycopedison.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 17:01] #163 closed

[2020-07-25 17:01] cwdcwd commented on #163
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134054<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 17:02] #281 closed

[2020-07-25 17:02] cwdcwd commented on #281
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134117<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 17:03] #315 closed

[2020-07-25 17:03] cwdcwd commented on #315
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30133969<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 17:04] #386 closed

[2020-07-25 17:04] cwdcwd commented on #386
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30133976<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 17:06] cwdcwd commented on #524
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30133978<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 17:21] cwdcwd commented on #75
Contest https://www.topcoder.com/challenges/30134228 has been updated - genycopedison has been unassigned.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 17:21] callmekatootie commented on #75
My bad - Giri had unassigned themselves but did not set the open for pickup label... @phongnt You are now assigned

[2020-07-25 17:22] callmekatootie commented on #75
Also - you can check the code for when we change the page number - we scroll to top. You can apply the same approach here too

[2020-07-25 17:22] cwdcwd commented on #75
Contest https://www.topcoder.com/challenges/30134228 has been updated - it has been assigned to genycopedison.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 17:37] callmekatootie commented on #327
This has now been resolved

[2020-07-25 17:37] #327 closed

[2020-07-25 17:48] cwdcwd commented on #144
Contest https://www.topcoder.com/challenges/30134305 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 17:48] callmekatootie commented on #99
No longer an issue since we have had individual tickets working on the long group name issues which have resolved it

[2020-07-25 17:48] #99 closed

[2020-07-25 17:49] callmekatootie commented on #179
This is now resolved through #163

[2020-07-25 17:49] #179 closed

[2020-07-25 17:50] cwdcwd commented on #144
Contest https://www.topcoder.com/challenges/30134305 has been updated - it has been assigned to genycopedison.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 17:57] callmekatootie commented on #45
@sanju-singh There's still an issue - I am unable to logout. Clicking on logout closes the dropdown and does nothing...

[2020-07-25 18:00] callmekatootie commented on #271
Expected: Trim the values entered in the input fields - general as well as custom attributes DURING saving of the changes made.

You only need to trim - you are not expected to validate the input - pass the value as is after trim

[2020-07-25 18:01] cwdcwd commented on #271
Contest https://www.topcoder.com/challenges/30134306 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 18:05] sanju-singh commented on #45
@callmekatootie , sorry for that, PR:https://github.com/topcoder-platform/u-bahn-app/pull/598. It should work now. Thanks

[2020-07-25 18:05] callmekatootie commented on #294
This is now resolved along with the group pills issue.

![image](https://user-images.githubusercontent.com/2317133/88463330-81d51900-cecf-11ea-9ea3-318ed65d99fa.png)

[2020-07-25 18:05] #294 closed

[2020-07-25 18:06] cwdcwd commented on #292
Contest https://www.topcoder.com/challenges/30134307 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 18:09] callmekatootie commented on #45
Thank you for the quick turnaround

[2020-07-25 18:09] #45 closed

[2020-07-25 18:12] cwdcwd commented on #292
Contest https://www.topcoder.com/challenges/30134307 has been updated - it has been assigned to vibhash_19.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 18:12] cwdcwd commented on #271
Contest https://www.topcoder.com/challenges/30134306 has been updated - it has been assigned to genycopedison.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 18:58] Giri-Suman commented on #392
@cwdcwd i have invested lot of time but not able to reproduce the issue. I have tried more than 10 times but only 1 time i got this error

[2020-07-25 19:00] callmekatootie commented on #392
No worries - you can try to work on this for couple more hours or you could open it for others to pickup

[2020-07-25 19:00] Giri-Suman commented on #392
[bandicam 2020-07-26 00-26-29-765.zip](https://github.com/topcoder-platform/u-bahn-app/files/4976221/bandicam.2020-07-26.00-26-29-765.zip)

[2020-07-25 19:02] cwdcwd commented on #292
Contest https://www.topcoder.com/challenges/30134307 has been updated - it has been assigned to genycopedison.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-25 19:04] Giri-Suman commented on #392
@callmekatootie can you please again whether its a valid bug or not

[2020-07-25 19:07] PrakashDurlabhji commented on #507
@callmekatootie done in https://github.com/topcoder-platform/u-bahn-app/pull/601

[2020-07-25 19:58] cagdas001 commented on #161
PR: #603

[2020-07-25 21:26] rashmi73 commented on #267
@callmekatootie here is PR https://github.com/topcoder-platform/u-bahn-app/pull/605

can you please increase prize as it was more efforts and logical. also the amount that shall be on this ticket is rather on https://github.com/topcoder-platform/u-bahn-app/issues/123 and also didnt solve it and hence i have also included skills in my PR even though it is not mentioned.

[2020-07-25 21:52] PrakashDurlabhji commented on #196
@callmekatootie PR updated https://github.com/topcoder-platform/u-bahn-app/pull/588/

[2020-07-26 06:23] callmekatootie commented on #262
@Giri-Suman Please respond - else this will opened for others to pickup

[2020-07-26 06:24] callmekatootie commented on #473
@venkygot Can you kindly give an update here - if you have hit a roadblock, then please open this for others to pickup

[2020-07-26 06:35] callmekatootie commented on #552
@romitgithub Status check

[2020-07-26 06:36] callmekatootie commented on #269
@Giri-Suman I am afraid I have to open this for others to work on

[2020-07-26 06:37] cwdcwd commented on #269
Contest https://www.topcoder.com/challenges/30134277 has been updated - it has been assigned to cagdas001.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-26 07:09] cwdcwd commented on #262
Contest https://www.topcoder.com/challenges/30134057 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-26 07:30] venkygot commented on #473
@callmekatootie I'll give you an update in couple of hrs. If not will open it up

[2020-07-26 07:48] callmekatootie commented on #267
Hey @rashmi73

You only had to copy the changes made here - https://github.com/topcoder-platform/u-bahn-app/pull/570/files - but for company attribute filters.

Also not sure what you mean by didn't solve it and included skills in your fixes - the changes from that do indeed provide the "No Results found" message for skills. I am expecting the same for company attribute filters...

![image](https:

[2020-07-26 08:09] callmekatootie commented on #524
@phongnt 2 issues with the changes made:

- Search using the header input is no longer working
- Sorting is no longer working

I _think_ it is because of the changes made in this ticket - but please let me know if it is not

[2020-07-26 08:32] romitgithub commented on #552
@callmekatootie  Won't be able to work at the moment. Releasing this.

[2020-07-26 08:54] venkygot commented on #473
@callmekatootie Changes has been checked in for review.

[2020-07-26 08:59] narekcat commented on #17
Hello @callmekatootie . I have tested Firefox in my local machine, but skill's drop-down shows correctly. See screenshot:
![image](https://user-images.githubusercontent.com/11549629/88475321-d1ebc400-cf3f-11ea-8477-28157a697fd4.png)

And I have fixed issue with IE11 overflow. Please see pull request https://github.com/topcoder-platform/u-bahn-app/pull/607.

[2020-07-26 09:29] cwdcwd commented on #552
Contest https://www.topcoder.com/challenges/30134059 has been updated - it has been assigned to kingszlayer.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-26 11:34] cagdas001 commented on #269
PR: #608

[2020-07-26 15:15] cagdas001 commented on #161
In addition, could you reconsider the prize of the ticket? You can see the details of applied changes at PR

[2020-07-26 16:07] callmekatootie commented on #161
@cagdas001 Set the payment to $125

[2020-07-26 16:11] callmekatootie commented on #267
@rashmi73 Apologies but I will have to unassign you - the changes are too simple to take 8 hours to complete...

[2020-07-26 16:15] callmekatootie commented on #267
This has been resolved in https://github.com/topcoder-platform/u-bahn-app/commit/0023810a4a573bd76124f16e0522e8e4cd39c206

[2020-07-26 16:15] #267 closed

[2020-07-26 16:15] cwdcwd commented on #267
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-26 16:20] callmekatootie commented on #17
I can not reproduce it consistently too - I can reproduce it occasionally but not frequent enough to be significant I would say. So no worries

[2020-07-26 16:21] narekcat commented on #17
@callmekatootie Okay.

[2020-07-26 16:38] venkygot commented on #473
@callmekatootie kindly review the console error. it should be fixed now.

[2020-07-26 17:02] cwdcwd commented on #473
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-26 17:03] narekcat commented on #85
@callmekatootie . I approximately finished this issue, but I have a question. Need I show 'General Attributes' in 'Manage Filters Modal' or 'General Attributes' must be replaced with 'Standard Attributes'?

[2020-07-26 17:05] callmekatootie commented on #85
@narekcat You mean the title of the section? The current one is fine... I just referred it as Standard attributes because the code did (and the UI called it General instead :man_shrugging: )

[2020-07-26 17:10] #17 closed

[2020-07-26 17:10] #75 closed

[2020-07-26 17:10] cwdcwd commented on #17
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30133957<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-26 17:11] cwdcwd commented on #75
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134228<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-26 17:13] #144 closed

[2020-07-26 17:13] cwdcwd commented on #144
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134305<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-26 17:14] #161 closed

[2020-07-26 17:15] cwdcwd commented on #161
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134230<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-26 17:17] #196 closed

[2020-07-26 17:17] cwdcwd commented on #196
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134156<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-26 17:19] #269 closed

[2020-07-26 17:19] cwdcwd commented on #269
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134277<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-26 17:20] #292 closed

[2020-07-26 17:20] cwdcwd commented on #292
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134307<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-26 17:21] #359 closed

[2020-07-26 17:21] cwdcwd commented on #359
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30133977<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-26 17:22] #473 closed

[2020-07-26 17:23] cwdcwd commented on #473
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134111<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-26 17:24] #481 closed

[2020-07-26 17:25] cwdcwd commented on #481
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30133974<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-26 17:26] #507 closed

[2020-07-26 17:26] cwdcwd commented on #507
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30133973<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-26 17:27] #552 closed

[2020-07-26 17:27] cwdcwd commented on #552
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134059<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-26 17:28] callmekatootie commented on #524
@phongnt Can you please check this out on priority - a critical feature is no longer working

[2020-07-26 17:29] callmekatootie commented on #262
@PrakashDurlabhji This was resolved in #161 and no changes are further expected here. Hence closing this ticket.

[2020-07-26 17:29] #262 closed

[2020-07-26 17:29] cwdcwd commented on #262
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-26 17:30] callmekatootie commented on #271
@phongnt Kindly resolve this at the earliest - else I am afraid I will have to open this for others to work on

[2020-07-26 17:31] callmekatootie commented on #340
No longer an issue - #17 resolved this

[2020-07-26 17:31] #340 closed

[2020-07-26 17:32] callmekatootie commented on #392
@Giri-Suman This is indeed a valid bug - opening for others to work on in case they are able to reproduce it and can find a solution

[2020-07-26 17:34] cwdcwd commented on #392
Contest https://www.topcoder.com/challenges/30134112 has been updated - it has been assigned to cagdas001.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-26 17:48] phongnt commented on #271
Yes, I'm working now

[2020-07-26 18:08] phongnt commented on #524
Let me check again

[2020-07-26 18:13] phongnt commented on #524
@callmekatootie Yes, you are correct. How to fix this side affect?

[2020-07-26 19:23] narekcat commented on #85
@callmekatootie One more question. How I must get suggestion data for Company and Title. Can I mock that data like Locations and Achievements or I must add endpoint to back end like skills ?

[2020-07-26 23:07] cagdas001 commented on #392
@callmekatootie I can't reproduce either Maybe this is not a valid bug anymore, with latest updates?

[2020-07-27 02:27] callmekatootie commented on #85
Company and title will NOT be part of the filters - so no suggestion is needed... I realize that I described it such that you would believe that these need to show up in the standard / general attribute filters - but they will not... they are standard / general attributes, but we will not have any filters for them...

[2020-07-27 02:28] callmekatootie commented on #392
So this happens only in IE11 - type a long text and press and hold backspace after that to erase all the text. When you press and hold backspace, the text gets erased - about 4-5 characters and then this error occurs

[2020-07-27 03:06] cwdcwd commented on #392
Contest https://www.topcoder.com/challenges/30134112 has been updated - it has been assigned to kingszlayer.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-27 03:59] callmekatootie commented on #271
@phongnt I am afraid I have to open this for others to work on - the solution submitted was not satisfactory

[2020-07-27 04:01] cwdcwd commented on #271
Contest https://www.topcoder.com/challenges/30134306 has been updated - it has been assigned to Nam-NNG.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-27 04:02] callmekatootie commented on #271
@hoangnam2261 Just a FYI - this is a very simple ticket. I am expecting the effort to be very less. So - you will have only 4 hours to submit a solution after which I will open this for others... Please pick it up only if you can submit a solution within that time frame...

[2020-07-27 04:05] phongnt commented on #271
@callmekatootie Please correct title of issue to avoid confusion, because of feedback on Custom Attributes in my PR

[2020-07-27 04:37] callmekatootie commented on #271
Done. Please also note this comment of mine earlier:

[2020-07-27 06:31] phongnt commented on #392
@callmekatootie I reproduced on IE successful. It's valid bug. I fixed also. But let @venkygot try to fix firstly. Please assign me if @venkygot can not fix this. Thanks

[2020-07-27 06:32] callmekatootie commented on #392
@venkygot Are you actively working on this?

[2020-07-27 06:33] venkygot commented on #392
@callmekatootie yes i'm able to reproduce it, working on the fixes. Keep you posted shortly

[2020-07-27 08:15] narekcat commented on #85
@callmekatootie . I have fixed this issue. Please see pull request https://github.com/topcoder-platform/u-bahn-app/pull/612.

[2020-07-27 12:13] callmekatootie commented on #259
This ticket is now open for pickup.

Expected - if a user has multiple tabs of this app open, then when the user logs out in one tab, in the other tabs, the user should log out as well

[2020-07-27 12:16] cwdcwd commented on #259
Contest https://www.topcoder.com/challenges/30134446 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-27 12:17] cwdcwd commented on #259
Contest https://www.topcoder.com/challenges/30134446 has been updated - it has been assigned to genycopedison.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-27 13:10] wdprice commented on #430
@cwdcwd - will need your guidance on updating the favicon in Auth0.

[2020-07-27 13:12] wdprice commented on #155
We should plan for a lot of groups - add pagination in the UI for scenarios in which more than n groups are returned.

[2020-07-27 13:13] wdprice commented on #148
I was under the impression the required fields were the custom attributes required by the UI: Location, etc.

All the rest of the custom attributes can be optional.

[2020-07-27 13:13] wdprice commented on #63
@cwdcwd - can you help with Auth0 config on this?

[2020-07-27 14:31] callmekatootie commented on #148
Expected - All input fields under GENERAL and CUSTOM ATTRIBUTES should be required.

1. Provide a * next to the label for each of the fields indicating that they are required (in red color)
2. When the user clicks on Save, check if the value is empty (after you trim it). If yes, use the browser's alert() feature to ask the user to enter a value for the field (`Please enter a value for the "field n

[2020-07-27 14:34] cwdcwd commented on #148
Contest https://www.topcoder.com/challenges/30134483 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-27 14:34] cwdcwd commented on #148
Contest https://www.topcoder.com/challenges/30134483 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-27 14:56] callmekatootie commented on #155
Expected:

For both the groups tab and the Add to Group modal
- When we fetch the groups, set a large value for items returned per page - to get ALL the groups
- Use virtual scroll. In case of the groups tab, restrict the number of groups shown to the current height (where we are displaying about 12 groups. In case of the modal, we already have a scrollbar when we display too many groups. Reuse th

[2020-07-27 14:56] callmekatootie commented on #155
Ticket is now open for pickup. PLEASE make sure that you read the requirements here - https://github.com/topcoder-platform/u-bahn-app/issues/155#issuecomment-664446818

[2020-07-27 14:58] cwdcwd commented on #155
Contest https://www.topcoder.com/challenges/30134488 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-27 14:58] cwdcwd commented on #155
Contest https://www.topcoder.com/challenges/30134488 has been updated - it has been assigned to will_price.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-27 15:01] callmekatootie commented on #63
@cwdcwd Thanks! However, something seems to be wrong.

When we logout out of https://skill-search.topcoder-dev.com/, it takes the user to login page - and after login, the user is taken to localhost:3000 instead of https://skill-search.topcoder-dev.com/ ...

I checked the logout url that we call on logout. It is:

[code]

The redirect url is correct - but even then the actual redirect seems to be

[2020-07-27 15:02] cwdcwd commented on #155
Contest https://www.topcoder.com/challenges/30134488 has been updated - it has been assigned to genycopedison.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-27 15:34] cwdcwd commented on #63
the logout param is `returnTo` not `redirect`. See [docs](https://auth0.com/docs/logout/guides/redirect-users-after-logout)

[2020-07-27 15:59] callmekatootie commented on #63
I cannot conclude why we used `redirect` instead of `returnTo` ... changed it now and it's resolve the issue. Sorry for the trouble!

[2020-07-27 15:59] #63 closed

[2020-07-27 16:14] #259 closed

[2020-07-27 16:14] cwdcwd commented on #259
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134446<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-27 16:15] #271 closed

[2020-07-27 16:15] cwdcwd commented on #271
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134306<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-27 16:21] #392 closed

[2020-07-27 16:21] cwdcwd commented on #392
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134112<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-27 16:24] #524 closed

[2020-07-27 16:25] narekcat commented on #148
@callmekatootie I have fixed this issue. Please see pull request https://github.com/topcoder-platform/u-bahn-app/pull/615.

[2020-07-27 16:25] callmekatootie commented on #579
No longer seeing it. Most likely fixed by any of the other issues.

[2020-07-27 16:25] #579 closed

[2020-07-27 16:26] wdprice opened #616 "Log anonymized search terms"
Establish a data store and store search terms used.

Do track:
- The search term
- The searching organization

Do not track:
- The user who made the search
- The search results

Additional considerations:
- Can we perhaps tag a search with the closest related skill so we can aggregate the most commonly searched skills?

[2020-07-27 17:01] callmekatootie opened #617 "Allow empty values for all input fields in the edit profile modal"
Related - https://github.com/topcoder-platform/u-bahn-api/issues/19

Ticket to capture the issue where currently, we cannot have empty values for any of the input fields in the edit profile modal

[2020-07-27 17:08] #148 closed

[2020-07-27 17:08] cwdcwd commented on #148
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134483<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-27 17:09] #85 closed

[2020-07-27 17:09] cwdcwd commented on #85
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134274<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-27 17:17] cwdcwd commented on #155
Contest https://www.topcoder.com/challenges/30134488 has been updated - it has been assigned to kingszlayer.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-27 17:19] callmekatootie commented on #15
Expected:

- Currently, on page load, after selecting org, we get the list of attributes located in that org (see the network requests made after org selection)
- In this list, there will be an attribute with name "location" - case sensitive. Read it off the `REACT_APP_ATTRIBUTE_ID_LOCATION` environment variable which will have the value of `location`.
- Note the id of this attribute - DO NOT hard

[2020-07-27 17:19] callmekatootie commented on #15
Also note - ticket talks about Achievements too. But for now, ignore it.

[2020-07-27 17:21] callmekatootie commented on #155
@venkygot Kindly note - solution expected in 12 - 18 hours from now. Please do not pick up if you cannot deliver within that time frame...

[2020-07-27 17:21] cwdcwd commented on #15
Contest https://www.topcoder.com/challenges/30134497 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-27 17:21] cwdcwd commented on #15
Contest https://www.topcoder.com/challenges/30134497 has been updated - it has been assigned to callmekatootie.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-27 17:22] cwdcwd commented on #15
Contest https://www.topcoder.com/challenges/30134497 has been updated - it has been assigned to genycopedison.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-27 17:23] callmekatootie commented on #15
@phongnt Please assign yourself again - would like TCX to pick up your name instead of mine

[2020-07-27 17:24] cwdcwd commented on #155
Contest https://www.topcoder.com/challenges/30134488 has been updated - cagdas001 has been unassigned.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-27 17:24] cwdcwd commented on #155
Contest https://www.topcoder.com/challenges/30134488 has been updated - it has been assigned to cagdas001.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-27 17:25] callmekatootie commented on #155
@cagdas001 Kindly note - solution expected in 12 - 18 hours from now. Please do not pick up if you cannot deliver within that time frame...

[2020-07-27 17:27] cagdas001 commented on #155
@callmekatootie I saw, will be delivered on time

[2020-07-28 05:39] callmekatootie commented on #155
@cagdas001 Just checking in - if you are still actively working on it, that is fine. Just want to make sure that you are on track to submit - even if you need couple of hours more

[2020-07-28 05:48] cagdas001 commented on #155
@callmekatootie there is just a minor issue with virtual scrolling. Other parts are done. It won't take too much, still will be delivered on time

[2020-07-28 05:49] callmekatootie commented on #155
Thanks for the update

[2020-07-28 10:51] callmekatootie commented on #295
Ticket NOT open for pickup - it is being worked on by @ansaryfantastic - Waiting for TCX to pick it up

[2020-07-28 10:58] cwdcwd commented on #295
Contest https://www.topcoder.com/challenges/30134573 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-28 10:58] cwdcwd commented on #295
@ansaryfantastic, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-28 11:06] cwdcwd commented on #295
Contest https://www.topcoder.com/challenges/30134573 has been updated - it has been assigned to kingszlayer.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-28 11:29] callmekatootie commented on #295
PAID - http://www.topcoder.com/challenges/30134592

[2020-07-28 11:29] #295 closed

[2020-07-28 11:29] cwdcwd commented on #295
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-28 11:30] callmekatootie commented on #295
Paid manually and NOT through TCX

[2020-07-28 11:31] callmekatootie commented on #155
@cagdas001 Status check

[2020-07-28 11:47] cagdas001 commented on #155
@callmekatootie pushed changes at  #619

[2020-07-28 11:49] callmekatootie commented on #155
@cagdas001 Correct me if I am wrong - the changes seem to be only for the side menu. I could not see the changes carried out in the Group modal

[2020-07-28 11:51] cagdas001 commented on #155
@callmekatootie You mean AddToGroup modal right?

It already has a scrollable content as you also said

[2020-07-28 11:54] callmekatootie commented on #155
We have scrollable content but no virtual lists - you need to use virtual lists here, while respecting the existing methodology of setting the height of the modal

[2020-07-28 11:57] cagdas001 commented on #155
I thought the qouted text meant to re-use the same logic. Ok, will replace it and push a new commit soon

[2020-07-28 14:33] cagdas001 commented on #155
@callmekatootie I have updated the PR. Scrollbars are currently native browser scrollbars. I have not added any styling for them, since it's not possible to do it with cross-browser support with pure CSS. If we'd have a bit styling for scrollbars it might look better, however, we need to use a JavaScript scrollbar like https://github.com/Grsmto/simplebar to achieve this

[2020-07-28 14:39] callmekatootie commented on #155
Yep. That is ok. Thank you. Will be reviewing shortly

[2020-07-28 14:51] callmekatootie commented on #155
@cagdas001 Excellent stuff. There's one minor issue that I came across. Please see below gif:

![issue_155](https://user-images.githubusercontent.com/2317133/88681957-bc2cf900-d10f-11ea-9e61-383ae9d0de8d.gif)

There are unidentical gaps between two rows.

I did not find this issue in the group modal - methinks it is because the items there are always on a single line, with overflow on ellipsis...

[2020-07-28 15:08] cagdas001 commented on #155
I guess there is a mistake in rowHeight calculation, where it calculates the heights of rows based on ´group.name.length´

Currently it adds 20px for each extra line, and assumes lines are being wrapped to the next line at the 30th character. However looks like 30 is not a certain number, some rows have 33 characters in their first lines while some others have 27, 31, 34...

If we can write a good

[2020-07-28 15:10] callmekatootie commented on #155
Ok. Let's go with the single line solution. Could you do that for an additional $10? I imagine just the CSS needs to be updated and a tooltip needs to be attached

[2020-07-28 15:13] cagdas001 commented on #155
Yes single line solution is easier to apply Just a few CSS rules and some minor changes (to remove dynamic height calculation)

[2020-07-28 16:09] cagdas001 commented on #155
@callmekatootie done

[2020-07-29 05:31] callmekatootie commented on #155
@cagdas001 In IE11, there's a horizontal scrollbar that is displayed in the Add Group modal:

![image](https://user-images.githubusercontent.com/2317133/88760530-d821b080-d18a-11ea-8c5e-100910374534.png)

otherwise in IE11 the changes are fine

[2020-07-29 05:34] callmekatootie opened #620 "[$75] Dynamic Achievements Filter"
Follow up of https://github.com/topcoder-platform/u-bahn-app/issues/15 - This ticket is to carry out similar changes, but for achievements filter

[2020-07-29 05:34] callmekatootie commented on #15
Achievements filter being taken up in #620

[2020-07-29 05:34] #15 closed

[2020-07-29 05:35] cwdcwd commented on #15
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134497<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-29 05:40] phongnt commented on #620
@callmekatootie Can I pick this ticket?

[2020-07-29 05:41] callmekatootie commented on #620
I am afraid not - There's some clarifications needed here and I am currently discussing with the PM. We may also need an endpoint in the backend here, so this ticket is not yet ready for pickup

[2020-07-29 06:00] callmekatootie commented on #237
PAID - http://software.topcoder.com/review/actions/ViewProjectDetails?method=viewProjectDetails&pid=30134624

[2020-07-29 06:00] #237 closed

[2020-07-29 06:00] callmekatootie commented on #487
PAID - http://software.topcoder.com/review/actions/ViewProjectDetails?method=viewProjectDetails&pid=30134624

[2020-07-29 06:00] #487 closed

[2020-07-29 17:03] callmekatootie commented on #155
@cagdas001 Have you checked out the above - would like to resolve this asap

[2020-07-29 17:14] cagdas001 commented on #155
@callmekatootie yes I'm on this right now. will provide a fix soon

[2020-07-30 04:11] callmekatootie commented on #155
@cagdas001 Hoping I get a solution in the next 1 hour else I am afraid I will have to deduct the payment on this ticket and assign the task of resolving the issue to another member.

[2020-07-30 05:12] #155 closed

[2020-07-30 05:13] cwdcwd commented on #155
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134488<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-30 05:14] callmekatootie opened #621 "[$75] Horizontal scrollbar in IE11 for Add To Group modal"
Follow up of https://github.com/topcoder-platform/u-bahn-app/issues/155

From the changes in that ticket, we are now seeing a horizontal scrollbar in the Add To Group modal - in IE11 browser.

Expected - we should NOT see the horizontal scrollbar in the Add To Group modal. Virtual scrolling should continue to work as before as so should all other features.

[2020-07-30 05:14] callmekatootie commented on #621
Ticket open for pickup - please pick it up only if you can provide a solution within 2 hours

[2020-07-30 05:18] cwdcwd commented on #621
Contest https://www.topcoder.com/challenges/30135238 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-30 05:18] cwdcwd commented on #621
Contest https://www.topcoder.com/challenges/30135238 has been updated - it has been assigned to genycopedison.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-30 06:36] cagdas001 commented on #155
@callmekatootie That's OK, it's not a problem. But this issue is not a simple issue as it looks since browsers are behaving differently when it comes to the content width with scrollbars. When reviewing the solution, I'd suggest you to test the solution not only on IE but all major browsers, to see if it's working consistently, without breaking the existing layout (with unnecessary gaps etc)

[2020-07-30 08:02] callmekatootie commented on #621
@phongnt There's an extra gap on the right for the modal:

![image](https://user-images.githubusercontent.com/2317133/88897483-f78f0b00-d268-11ea-93c8-d4acc1f076cd.png)

If it helps, the scrollbar need not be to just the OTHER GROUPS, you can also attach the scrollbar to the entire groups modal, (except the header - ADD TO GROUP, which will always be seen)

[2020-07-30 08:06] phongnt commented on #621
@callmekatootie Sorry I don't get your point. Do you mean add scrollbar for MY GROUP?

[2020-07-30 08:27] phongnt commented on #621
I got your point now, let me fix it

[2020-07-30 11:07] callmekatootie commented on #621
@phongnt How's it looking - if you are not able to arrive at a solution, we can open it up for others to work on...

[2020-07-30 11:24] phongnt commented on #621
Give me 30 min

[2020-07-30 11:48] cwdcwd commented on #621
Contest https://www.topcoder.com/challenges/30135238 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-30 12:59] narekcat commented on #621
@callmekatootie I have fixed this issue. Please see pull request https://github.com/topcoder-platform/u-bahn-app/pull/623.

[2020-07-30 16:12] callmekatootie commented on #430
Favicon's updated. Note that the icon in the login page needs to be updated through Auth0's configuration

[2020-07-31 04:18] callmekatootie commented on #621
@narekcat No updates - I will be opening this ticket in the next 1 hour unless I hear back from you

[2020-07-31 04:39] narekcat commented on #621
@callmekatootie I need additional four hour to fix this issue. Can I continue to work?

[2020-07-31 04:46] callmekatootie commented on #621
Thank you for the update - yes you can continue

[2020-07-31 08:47] narekcat commented on #621
@callmekatootie I have tried, but can't fix it. I think this issue is much harder. I'll put it back for other competitors.

[2020-07-31 08:53] cwdcwd commented on #621
Contest https://www.topcoder.com/challenges/30135238 has been updated - it has been assigned to kingszlayer.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-07-31 09:42] venkygot commented on #621
@callmekatootie Going thru the trail I'm little confused. What needs to be fixed here? I don't see horizontal scrollbar in IE11. See below.

![image](https://user-images.githubusercontent.com/32645062/89022786-2fb54d00-d340-11ea-8eab-60d0940133c3.png)

[2020-07-31 09:49] callmekatootie commented on #621
@venkygot Weird. I do not see it anymore either... I see what you are seeing above

Yet, it is not fine - remove the two scrollbars to have just one. Either have a single scrollbar for the entire modal (except the header title and footer buttons) or keep scrollbar for the individual sections (MY GROUPS and OTHER GROUPS) is what we are looking for...

[2020-07-31 09:49] callmekatootie commented on #621
This is what I used to see initially - https://github.com/topcoder-platform/u-bahn-app/issues/155#issuecomment-665440841

[2020-07-31 09:58] cagdas001 commented on #621
@callmekatootie Since you merged the #622 , there is a commit from it that plays with the `max-width` of the modal. That's the change that removes horizontal scroll but leaves some gaps as you mentioned at the feedback of this PR https://github.com/topcoder-platform/u-bahn-app/issues/621#issuecomment-666208196

[2020-07-31 10:02] callmekatootie commented on #621
Reverting the changes - checking if that was indeed it

[2020-07-31 10:24] cagdas001 commented on #621
You're currently not seeing a scrollbar for the My Groups list, because it currently have only 3 items. If it'd have more items (>10), there will be a scrollbar for it as well

https://github.com/topcoder-platform/u-bahn-app/blob/08573f5caaac3440d3548ccd35bb35c2f635ae7f/client/src/components/AddToGroupModal/index.jsx#L245-L249

Two lists are indeed independent & individual virtual lists, so with a

[2020-07-31 10:27] callmekatootie commented on #621
Fair point - In which case, you can have individual scrollbars for the sections - that is acceptable too

[2020-07-31 11:02] venkygot commented on #621
@callmekatootie so I need to pull the updated code from develop and proceed? or continue with what I have?

[2020-07-31 11:11] callmekatootie commented on #621
Pull updated code and proceed

[2020-07-31 14:59] callmekatootie commented on #621
@venkygot Any update here - if you are not working on the ticket actively, could you kindly open it up for others to take a chance

[2020-07-31 15:34] venkygot commented on #621
@callmekatootie will submit PR shortly

[2020-08-01 08:46] cwdcwd commented on #621
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-08-01 08:46] cwdcwd commented on #621
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-08-01 09:36] #621 closed

[2020-08-01 09:36] cwdcwd commented on #621
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30135238<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-08-02 17:51] callmekatootie commented on #620
Details:

- Currently, the achievements filter in the left sidebar is getting its filter values statically
- Remove this. Don't just comment the code, remove the code entirely (which fetches the static values)
- Instead, the achievements filter, just like the locations and skills and custom attribute filter(s) will allow the user to enter a search text, which will then be passed to an api. The api

[2020-08-02 17:53] cwdcwd commented on #620
Contest https://www.topcoder.com/challenges/30135554 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-08-02 17:53] callmekatootie commented on #620
This ticket is open for pickup

[2020-08-02 17:58] cwdcwd commented on #620
Contest https://www.topcoder.com/challenges/30135554 has been updated - it has been assigned to kingszlayer.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-08-02 18:04] cwdcwd commented on #620
Contest https://www.topcoder.com/challenges/30135554 has been updated - it has been assigned to cagdas001.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-08-03 08:12] callmekatootie opened #627 "[$75] Change in how we work with Skills"
Right now, each user has skills. We can add and remove skills for a user. We even have a filter for skills.

Each skill has a parent called as "skill provider".
Currently, front end assumes all skills to be having the skill provider as `EMSI`.
EMSI is a third party api that we are using which we query to return skills, which are then assigned to the user.

Front end has `EMSI_SKILLPROVIDER_ID` con

[2020-08-03 16:04] cwdcwd commented on #627
Contest https://www.topcoder.com/challenges/30135728 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-08-03 16:04] callmekatootie commented on #627
This ticket is now open for pickup

[2020-08-03 16:11] cwdcwd commented on #627
Contest https://www.topcoder.com/challenges/30135728 has been updated - it has been assigned to cagdas001.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-08-04 09:20] #620 closed

[2020-08-04 09:20] cwdcwd commented on #620
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30135554<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-08-04 10:39] cagdas001 commented on #627
@callmekatootie The API responds with status code 400.

![ubahn-err](https://user-images.githubusercontent.com/28513447/89284684-d575fe00-d657-11ea-9abe-055e3117abb8.jpg)

[2020-08-04 10:44] callmekatootie commented on #627
Crap... I might have broken it... Hang on... Give me 15 mins

[2020-08-04 11:04] callmekatootie commented on #627
@cagdas001 Please try now

[2020-08-04 11:44] callmekatootie commented on #627
@cagdas001 Any ETA on when this will be ready for review

[2020-08-04 12:15] cagdas001 commented on #627
@callmekatootie close to complete

[2020-08-05 12:20] #627 closed

[2020-08-05 12:20] cwdcwd commented on #627
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30135728<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-08-12 19:31] wdprice opened #630 "[$300] Project UBahn | Update Login to use accounts.topcoder.com"
currently login flow goes through topcoder.auth0.com

Need to use accounts.topcoder.com for proper cross-site platform handling.

[2020-08-18 15:19] wdprice opened #634 "Add attachments to users"
New feature: Add attachments to users (resume, CV, etc.)

[2020-08-25 13:20] callmekatootie opened #635 "[$250] Project UBahn | production deployment"
- [x] Replace nickname usage in UI code base with handle. Hard code the domain for dev and prod instances
- [x] Gracefully handle crashes... For example, if any user does not have an attribute, then display a message on the UI... Right now, it shows white screen (in prod)

Using same ticket for additional help during debugging of production deployment issues and onboarding of client data in produc

[2020-08-25 16:32] #430 closed

[2020-09-02 13:31] cwdcwd commented on #635
Contest https://www.topcoder.com/challenges/30140337 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-09-02 13:31] cwdcwd commented on #635
Contest https://www.topcoder.com/challenges/30140337 has been updated - it has been assigned to callmekatootie.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-09-02 13:34] #635 closed

[2020-09-02 13:36] cwdcwd commented on #635
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30140337<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-09-02 18:15] wdprice opened #638 "[$300] Project Ubahn | Status on Bulk Upload API"
Track status, show in UI.
Display all uploads for the org

drill int to see failures and why.

[2020-09-02 18:18] wdprice opened #639 "[$150] Project UBahn | Catalog APIs"
Catalog all v5 APIs developed for u-bahn and ensure adherence to v5 spec.

[2020-09-02 18:19] wdprice opened #640 "Revise search endpoint"
v5/search should not be abstracted at this level.

should be app specific (ie: v5/skill-search/)

Update all references to endpoint to use new one

[2020-09-02 18:21] wdprice opened #641 "Optimize Search Speed"
Run a challenge to review ES config / code and identify opportunities to optimize.

Currently takes 7+ seconds to load results.

[2020-09-02 18:33] wdprice opened #642 "Build organization roles"

[2020-09-02 18:35] wdprice opened #643 "Portable Profiles"
Build endpoint to deliver self rendering profile (embeddable)

[2020-09-02 18:36] wdprice opened #644 "Extend org metadata"
Logos, colors, etc. for external profiles

[2020-09-02 18:47] wdprice opened #645 "Enable edit for self service within u-bahn"
Based on org role users can edit their own data.

Limit access to fields based on role

[2020-09-02 18:50] wdprice opened #646 "Self Service within Ubahn"
If user does not have ubahn role in JWT

they can log in but only see their own user record. User must select org is member of multiple.

Field level security must apply

[2020-09-02 18:53] wdprice opened #647 "Metric value display in UI"
Figure out an elegant way to show it

Add metric name to skills

[2020-09-04 07:11] callmekatootie opened #648 "[$100] Project UBahn | Script to generate mock user data to upload"

[2020-09-04 07:11] cwdcwd commented on #648
Contest https://www.topcoder.com/challenges/30140534 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-09-04 07:11] cwdcwd commented on #648
Contest https://www.topcoder.com/challenges/30140534 has been updated - it has been assigned to callmekatootie.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-09-05 05:23] #648 closed

[2020-09-05 05:23] cwdcwd commented on #648
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30140534<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-09-10 13:45] callmekatootie commented on #641
@cwdcwd Are we allowed to make updates to the index to achieve this? Or should we restrict to optimizing the code alone...

Nothing in mind - just weighing options

[2020-09-10 15:37] cwdcwd commented on #641
I think we should first look at how we're creating that payload. My suspicion is that the lag is caused by the saturating each record with the expanded details (like groups, etc).  What we probably need to do is have a processor that listens for data changes to things like groups and updates those fields directly in the index instead of saturating them in real time. Does that make sense?

[2020-09-10 16:23] callmekatootie commented on #639
What does catalog refer to here - we have the swagger specification - does that qualify - https://github.com/topcoder-platform/u-bahn-api/blob/develop/docs/swagger.yaml

[2020-09-10 16:27] callmekatootie commented on #638
@cwdcwd Should we aim to implement this - https://marvelapp.com/prototype/8c98jb7/screen/68842315

[2020-09-10 16:28] callmekatootie commented on #630
Note to self - check out Laushcer or Vorbote for how we did this...

[2020-09-10 16:29] callmekatootie commented on #640
@cwdcwd Not sure I understood this right - we replace `/v5/search` endpoints with `/v5/skill-search` instead? Just the path name changes?

[2020-09-10 17:20] cwdcwd commented on #638
yessi

[2020-09-10 17:21] cwdcwd commented on #640
yes I think for now that's what we should do. `search` as top level "noun" is somewhat ambiguous and pollutes the namespace somewhat

[2020-09-11 06:58] cwdcwd commented on #640
Contest https://www.topcoder.com/challenges/30141385 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-09-11 06:58] cwdcwd commented on #640
Contest https://www.topcoder.com/challenges/30141385 has been updated - it has been assigned to callmekatootie.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-09-11 07:57] cwdcwd commented on #640
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30141385<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-09-15 07:50] callmekatootie commented on #630
@cwdcwd Is this available on npm - https://github.com/appirio-tech/accounts-app ? Lauscher seems to have copied code from this repo (some minification issues). Need to know if I should go the same way in this app or if there's a module that I can make use of...

[2020-09-15 13:38] cwdcwd commented on #630
let's loop in @sachin-maheshwari for how best to incorporate the new login stuff. @sachin-maheshwari can we publish the new login component to npm for inclusion in our apps?

[2020-09-15 14:58] sachin-maheshwari commented on #630
@cwdcwd I am investigating, will share my thoughts.

[2020-09-15 16:39] sachin-maheshwari commented on #630
As i explore I think, we need to authenticate and authorize in this way - https://github.com/appirio-tech/connect-app/blob/test/auth0lib/src/components/AuthenticatedComponent.jsx
Whole "new Auth flow" releated changes we can find here -  https://github.com/appirio-tech/connect-app/pull/4082

In general, for authentication, currently we are using account-app (that is authenticating and setting topc

[2020-09-15 16:53] sachin-maheshwari commented on #630
I think, in this app we are doing like -
Authorization - https://github.com/topcoder-platform/u-bahn-app/blob/3b8254481a5f020d2ec58290ec5fd3de05fedf9a/client/src/pages/Search/index.jsx#L72

Authentication - https://github.com/topcoder-platform/u-bahn-app/blob/develop/client/src/react-auth0-spa.js#L48

[2020-09-15 17:20] cwdcwd commented on #630
@sachin-maheshwari are any of these pieces publishable via npm as modules so we can drop them into our code easily?

[2020-09-15 18:53] sachin-maheshwari commented on #630
@cwdcwd no exactly, but can include like this -
For "new flow" - https://github.com/appirio-tech/connect-app/blob/test/auth0lib/package.json#L153
For "current flow" - https://github.com/appirio-tech/connect-app/blob/dev/package.json#L153

[2020-09-15 20:25] cwdcwd commented on #630
I'm not a big fan or references by git url. Can I add a github action to publish `    "tc-auth-lib": "git+https://github.com/topcoder-platform/tc-auth-lib.git#dev"` out to our NPM modules?

[2020-09-16 02:43] sachin-maheshwari commented on #630
You can publish but some code clean-up required (like web-assets folder not related to this and iframe and refresh token logic).

[2020-09-17 21:30] cwdcwd commented on #630
that's fine. we'll just do another release once that happens.I'll add a github action to publish

[2020-09-19 06:05] callmekatootie commented on #591
@cwdcwd Locally, it works. Not sure why it does not work in our dev instance (cannot verify on prod since not an admin).

Could you verify if the following configs are set:

UPLOAD_S3_BUCKET
S3_OBJECT_URL_EXPIRY_TIME
AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY
AWS_REGION

[2020-09-19 06:11] callmekatootie commented on #293
Not applicable anymore since we updated both fields to use auto suggest instead

[2020-09-19 06:11] #293 closed

[2020-09-19 06:25] cwdcwd commented on #169
Contest https://www.topcoder.com/challenges/30142493 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-09-19 06:25] cwdcwd commented on #169
Contest https://www.topcoder.com/challenges/30142493 has been updated - it has been assigned to callmekatootie.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-09-19 06:25] callmekatootie commented on #169
Resolved in https://github.com/topcoder-platform/u-bahn-app/commit/541aeef7a4dbf188706d9569f8a5f9f8a06ac8b3

[2020-09-19 06:25] #169 closed

[2020-09-19 06:26] callmekatootie commented on #639
@wdprice ^

[2020-09-19 06:27] cwdcwd commented on #169
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30142493<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-09-21 06:14] callmekatootie commented on #641
@cwdcwd @wdprice The groups related changes are in. Let me know if the current performance is acceptable or needs further improvement

[2020-09-21 06:14] callmekatootie commented on #630
Bump. Just checking in if we have the module to use

[2020-09-21 07:02] callmekatootie commented on #638
So, the design has the following features:

- Searching profiles in the uploaded list
- List of profiles in the uploaded list
- Indicators for profiles that have errors in them
- Ability to edit / correct attributes of a profile
- To skip records that have errors in them, to proceed with the upload

Based on what we see, it appears that
- the feature is BEFORE the document is uploaded to our serve

[2020-09-21 07:02] callmekatootie commented on #638
@cwdcwd @wdprice ^

[2020-09-21 17:41] cwdcwd commented on #630
@sachin-maheshwari do you care if I change the package to be `@topcoder-platform/tc-auth-lib` ?
I want to publish it with the rest of our `topcoder-platform` modules

[2020-09-21 19:01] cwdcwd commented on #630
@sachin-maheshwari I made a PR [here](https://github.com/topcoder-platform/tc-auth-lib/pull/15) for this

[2020-09-22 04:21] sachin-maheshwari commented on #630
NP, I'll take care. Thanks!

[2020-09-22 18:20] cwdcwd commented on #630
thanks @sachin-maheshwari !
@callmekatootie  I published a release [here on NPM](https://www.npmjs.com/package/@topcoder-platform/tc-auth-lib)

[2020-09-23 03:40] callmekatootie opened #650 "[$240] Project UBahn | Script to read members in groups and read their skills to prepare excel for bulk upload"

[2020-09-23 03:40] cwdcwd commented on #650
Contest https://www.topcoder.com/challenges/30143223 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-09-23 03:40] cwdcwd commented on #650
Contest https://www.topcoder.com/challenges/30143223 has been updated - it has been assigned to callmekatootie.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-09-23 06:32] cwdcwd commented on #630
Contest https://www.topcoder.com/challenges/30143227 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-09-23 06:32] callmekatootie commented on #630
@ all Ticket OPEN FOR PICKUP

Task Details:

- Remove auth0-spa js file and package and all the associated code.
- Replace all auth calls with Topcoder's own auth module - https://www.npmjs.com/package/@topcoder-platform/tc-auth-lib
- You can use https://github.com/topcoder-platform/Lauscher as reference. This app does NOT use the npm module, but a copy of it. You will find the same set of functio

[2020-09-23 06:42] cwdcwd commented on #630
Contest https://www.topcoder.com/challenges/30143227 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-09-23 06:45] callmekatootie commented on #630
@narekcat Just a FYI - the outcome of your changes will result in the user being redirected to accounts.topcoder(-dev).com and not to auth0 if they are not logged in.

You can visit http://lauscher.topcoder-dev.com/ to get an idea about how the app behaves when we use accounts.topcoder for login instead of auth0

[2020-09-23 06:46] narekcat commented on #630
@callmekatootie Okay.

[2020-09-23 15:21] wdprice opened #651 "Implement Segment.io baseline integration"
Implement the baseline analytics features we get from segment.

Page by page instrumentation is out of scope.

[2020-09-24 08:25] narekcat commented on #630
@callmekatootie I am actively working on this issue, I just need additional 24 hours to finish it. Is it ok ?

[2020-09-24 08:27] callmekatootie commented on #630
I understand. No worries.

[2020-09-24 08:28] narekcat commented on #630
Thanks.

[2020-09-26 05:12] #650 closed

[2020-09-26 05:13] cwdcwd commented on #650
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30143223<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-09-26 15:27] narekcat commented on #630
@callmekatootie Hi, I am still actively working on this issue, but it is much harder then I thought. I need more time to finish it. What you think about that ?

[2020-09-27 04:53] callmekatootie commented on #630
Should be fine - however, I hope you will submit in the next 24 hours else I will have to explore other options

[2020-09-27 04:59] narekcat commented on #630
I'll do my best to finish it in time, if I couldn't I'll put it back.

[2020-09-27 08:09] callmekatootie commented on #638
- [ ] Update `Upload` model to support new field `failedRecordsObjectKey` - which will contain the object key of the records that failed
- [ ] Update `UploadService` to support new route - GET `/uploads?from=<date_time>` that will return `Upload` records created since the `from` query param. By default use 24 hours.
- [ ] Update bulk processor to capture the object key of the uploaded error record

[2020-09-28 05:14] callmekatootie commented on #630
@narekcat Status check

[2020-09-28 05:15] callmekatootie commented on #630
My bad. Didn't see you marked it as open for pickup

[2020-09-28 05:15] cwdcwd commented on #630
Contest https://www.topcoder.com/challenges/30143227 has been updated - callmekatootie has been unassigned.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-09-28 11:17] callmekatootie opened #653 "[$75] Project UBahn | New section to view status of uploaded data"
Task:

- In bulk upload page, create new section above current bulk upload section (within the bulk upload tab itself)
- Section title - `Past 24 hours Upload status`
- Show a table here with columns `Upload date`, `Status`, `Info` and `Assets`
- To display data in this table, call endpoint GET `/uploads` (on the same server) which will return with the data.
- For `Upload Date` column, use the `cr

[2020-09-28 11:18] cwdcwd commented on #653
Contest https://www.topcoder.com/challenges/30143919 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-09-28 11:18] callmekatootie commented on #653
@ all Ticket open for pickup

[2020-09-28 11:23] cwdcwd commented on #653
Contest https://www.topcoder.com/challenges/30143919 has been updated - it has been assigned to cagdas001.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-09-28 15:03] cwdcwd commented on #630
Contest https://www.topcoder.com/challenges/30143227 has been updated - it has been assigned to callmekatootie.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-09-29 06:15] callmekatootie commented on #653
@cagdas001 Checking in - will you be able to submit in couple of hours?

[2020-09-29 06:26] cagdas001 commented on #653
Will be completed on time (i.e. 24h from assignment)

[2020-09-29 14:03] callmekatootie commented on #653
@cagdas001 Can you please let me know the status

[2020-09-29 14:28] cagdas001 commented on #653
@callmekatootie just finalizing the styling of table, should be done within minutes

[2020-09-29 15:24] cagdas001 commented on #653
@callmekatootie ready

[2020-09-29 15:32] cagdas001 commented on #653
* I don't see `info` field in the API response so it will be "N/A" on the table. Once it returns this field, it will be shown.
* To test the download link, you can change [this](https://github.com/topcoder-platform/u-bahn-app/pull/654/files#diff-633f9d8373b1de4e9a9b4f24e42d1028R29) field name to `url` and then you'll see the Download link.
* Considering the amount of work PR involves, if it's poss

[2020-09-29 17:23] #653 closed

[2020-09-29 17:23] cwdcwd commented on #653
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30143919<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-09-29 17:24] callmekatootie commented on #653
Crap... Saw your message above just now... Setting payment to $100 in task. Let me know if that is fine...

[2020-09-29 17:24] callmekatootie commented on #653
@cagdas001 ^

[2020-09-29 17:29] callmekatootie opened #655 "[$50] Follow up of 653"
Adding payment to 653 based on the effort involved

[2020-09-29 17:29] cwdcwd commented on #655
Contest https://www.topcoder.com/challenges/30144178 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-09-29 17:29] cwdcwd commented on #655
Contest https://www.topcoder.com/challenges/30144178 has been updated - it has been assigned to cagdas001.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-09-29 17:30] #655 closed

[2020-09-29 17:30] callmekatootie commented on #653
Upped to $125 - Due payment through another ticket - https://github.com/topcoder-platform/u-bahn-app/issues/655

[2020-09-29 17:34] cwdcwd commented on #655
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30144178<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-09-29 17:41] callmekatootie commented on #638
- [ ] Restrict viewing upload status to the org the user is in

[2020-09-30 06:33] cwdcwd commented on #638
Contest https://www.topcoder.com/challenges/30144226 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-09-30 06:33] cwdcwd commented on #638
Contest https://www.topcoder.com/challenges/30144226 has been updated - it has been assigned to callmekatootie.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-09-30 15:15] #638 closed

[2020-09-30 15:15] cwdcwd commented on #638
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30144226<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-09-30 15:26] callmekatootie commented on #497
After discussion on Slack - Will not be fixed. Closing

[2020-09-30 15:26] #497 closed

[2020-09-30 15:26] callmekatootie commented on #506
After discussion on Slack - Will not be fixed. Closing

[2020-09-30 15:26] #506 closed

[2020-09-30 15:26] callmekatootie commented on #336
After discussion on Slack - Will not be fixed. Closing

[2020-09-30 15:26] #336 closed

[2020-09-30 15:26] callmekatootie commented on #300
After discussion on Slack - Will not be fixed. Closing

[2020-09-30 15:26] #300 closed

[2020-09-30 15:26] callmekatootie commented on #208
After discussion on Slack - Will not be fixed. Closing

[2020-09-30 15:26] #208 closed

[2020-09-30 15:26] callmekatootie commented on #157
After discussion on Slack - Will not be fixed. Closing

[2020-09-30 15:26] #157 closed

[2020-09-30 20:33] ajefts commented on #651
Here is the snippet you will need to add:

[code]

[2020-10-02 11:35] callmekatootie commented on #639
API being audited: https://github.com/topcoder-platform/u-bahn-api/issues/48

[2020-10-06 05:27] callmekatootie commented on #639
Issues observed being resolved - https://github.com/topcoder-platform/u-bahn-api/issues/50

[2020-10-06 15:04] callmekatootie opened #658 "[$300] Project Ubahn | Copy groups association of members in ubahn from group api to ubahn"

[2020-10-06 15:05] callmekatootie commented on #658
PR - https://github.com/topcoder-platform/u-bahn-utils/pull/2

[2020-10-06 15:05] cwdcwd commented on #658
Contest https://www.topcoder.com/challenges/30144690 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-10-07 07:20] callmekatootie commented on #639
API code base completed. Now auditing apis in this repository itself...

[2020-10-08 04:07] #630 closed

[2020-10-08 04:08] cwdcwd commented on #630
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30143227<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-10-08 04:35] callmekatootie commented on #639
- [ ] Templates endpoint
issues:
  Missing head /templates/:id
warn:
  Missing get /templates

[2020-10-08 04:41] callmekatootie commented on #639
- [ ] Uploads endpoint
issues:
  - Missing head /uploads/:id
  - get /uploads does not support paging
warn:
  /uploads/:id has a PATCH method but not PUT

[2020-10-08 04:41] callmekatootie commented on #639
- [ ] Skills endpoint
issues:
  get /skills does not support paging
warn:
  There is no skills related code under src.

[2020-10-08 13:17] wdprice opened #661 "[$150] Project Ubahn | Update Bulk Uploader Key Matching Logic"
Currently the Bulk Uploader matches users to Topcoder Members using handle. Update this to match based on email.

This would make email address a required field for the bulk upload, and handle would be looked up based on the emailid. If no handle exists, then create one using the logic currently in place.

[2020-10-09 05:44] cwdcwd commented on #639
Contest https://www.topcoder.com/challenges/30144966 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-10-09 05:44] cwdcwd commented on #639
Contest https://www.topcoder.com/challenges/30144966 has been updated - it has been assigned to xxcxy.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-10-09 05:47] #639 closed

[2020-10-09 05:51] cwdcwd commented on #639
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30144966<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-10-10 06:28] callmekatootie opened #662 "[$80] Project UBahn | New script to copy group associations from group api to ubahn"

[2020-10-10 06:29] callmekatootie commented on #662
https://github.com/topcoder-platform/u-bahn-utils/commit/0cbfaf89d09ef8f46d2f2ea6687e2ef156bf520e

[2020-10-10 06:29] cwdcwd commented on #662
Contest https://www.topcoder.com/challenges/30145130 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-10-10 06:29] cwdcwd commented on #662
Contest https://www.topcoder.com/challenges/30145130 has been updated - it has been assigned to callmekatootie.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-10-10 06:30] #662 closed

[2020-10-10 06:33] cwdcwd commented on #662
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30145130<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-10-13 09:53] callmekatootie commented on #651
Code copied into index.html.

The segment api key is under `REACT_APP_SEGMENT_API_KEY` env variable. We need to set it in prod and build the front end. Will be done when we sync prod with dev

[2020-10-13 10:46] callmekatootie commented on #353
@ all Ticket open for pickup

[2020-10-13 10:46] cwdcwd commented on #353
Contest https://www.topcoder.com/challenges/30145476 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-10-13 10:46] callmekatootie commented on #353
Task: Verify and fix the issue. Browser is IE11

[2020-10-13 10:56] cwdcwd commented on #353
Contest https://www.topcoder.com/challenges/30145476 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-10-13 15:51] callmekatootie commented on #353
@narekcat any luck? If you have not yet started working on this, could you take it up soon... Hoping the effort does not take more than 1-2 hours... else I would have underestimated the effort on this ticket...

[2020-10-13 15:52] narekcat commented on #353
@callmekatootie I'll create pull request in an hour.

[2020-10-13 15:58] narekcat commented on #353
@callmekatootie I have fixed this issue. Please see pull request https://github.com/topcoder-platform/u-bahn-app/pull/663.

[2020-10-13 17:10] #353 closed

[2020-10-13 17:10] cwdcwd commented on #353
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30145476<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-10-13 17:16] cwdcwd commented on #661
Contest https://www.topcoder.com/challenges/30145501 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-10-13 17:17] cwdcwd commented on #661
Contest https://www.topcoder.com/challenges/30145501 has been updated - it has been assigned to callmekatootie.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-10-13 17:18] #661 closed

[2020-10-13 17:20] cwdcwd commented on #661
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30145501<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-10-14 11:29] callmekatootie commented on #591
Resolved by @cwdcwd

[2020-10-14 11:29] #591 closed

[2020-10-21 11:16] callmekatootie opened #665 "Enrich processor effects"
Documenting the changes needed to be carried out once the new enrich feature is in

- Update swagger to return the correct response. For example, with GET /externalProfiles, we now get the enriched external profiles. Ditto with attributes, skills etc.
- On initial load, UI will fetch the logged in user's external profile. It also makes additional requests to get the orgs returned from the external

[2020-10-23 15:04] callmekatootie commented on #665
- We need to create a script that can correct main data, when dependent data gets updated. Due to enrichment, updates to dependent data are not reflected in existing data and we need a script for it to reflect

[2020-10-23 15:11] callmekatootie opened #666 "Add group bulk insertion when a user is created"
When a user is created, migrate the group data for that user from group api into ubahn

[2020-10-26 14:28] callmekatootie opened #667 "[$40] Project Ubahn | Update utils script to work with enrichment"

[2020-10-26 14:29] callmekatootie commented on #667
Carried out in https://github.com/topcoder-platform/u-bahn-utils/commit/8f41b1a8c378905e6ca4c352eeddb77a40462823

[2020-10-26 14:29] cwdcwd commented on #667
Contest https://www.topcoder.com/challenges/30146939 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-10-26 14:30] cwdcwd commented on #667
Contest https://www.topcoder.com/challenges/30146939 has been updated - it has been assigned to callmekatootie.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-10-26 14:32] #667 closed

[2020-10-26 14:36] cwdcwd commented on #667
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30146939<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-11-18 05:47] callmekatootie opened #668 "[$30] Project UBahn App | Remove redundant api call"
With the enrichment feature in, we no longer need to make an additional api call to fetch the org details after having fetched the external profiles of the user (on initial load)

[2020-11-18 05:48] cwdcwd commented on #668
Contest https://www.topcoder.com/challenges/30151842 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-11-18 05:48] cwdcwd commented on #668
Contest https://www.topcoder.com/challenges/30151842 has been updated - it has been assigned to callmekatootie.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-11-18 06:03] #668 closed

[2020-11-18 06:03] cwdcwd commented on #668
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30151842<br/><br/>```This is an automated message for lazybaer via Topcoder X```